.wrapper {
  padding: 90px 120px 90px;
}

.title {
  margin-bottom: 67px;
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  color: #27283A;
}

@media (max-width: 1366px) {
	.wrapper {
		padding: 90px 60px;
	}
}
@media (max-width: 992px) {
	.wrapper {
		padding: 70px 40px 50px;
	}
	.title {
		font-size: 32px;
		line-height: 44px;
	}
}
@media (max-width: 767px) {
	.wrapper {
		padding: 50px 10px 50px;
	}
	.title {
		margin-bottom: 30px;
		font-size: 28px;
		line-height: 40px;
	}
}