.wrapper {
  width: 100%;
}
.inputGroup {
  width: 100%;
  margin-top: 35px;
  margin-bottom: 46px;
}
.text {
  display: block;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #858BA1;
  max-width: 350px;
  margin: 20px auto 30px;
}


