%wrapper {
  width: 100%;
  background: #FFFFFF;
  border-radius: 20px;
  padding: 25px 40px 40px;
  height: 100%;
  position: relative;
  margin: 10px;
}

.wrapper {
  @extend %wrapper;
}

.wrapperOnBoard {
  @extend %wrapper;
  display: flex;
  flex-direction: column;
  width: 45%;
}

.label {
  font-size: 16px;
  line-height: 20px;
  color: #858BA1;
  padding-bottom: 25px;
  margin-bottom: 39px;
  position: relative;

  &:after {
    content: "";
    background: rgba(27, 30, 98, 0.05);
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@media (max-width: 992px) {
  .label {
    margin-bottom: 25px;
  }
}
@media (max-width: 767px) {
  .wrapper {
    padding: 25px 20px;
    margin: 0;
  }
  .label {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}