.nav {
  width: 300px;

  .user {
    padding: 20px;
    width: 300px;
    height: 90px;
    background: #FFFFFF;
    border-radius: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    img {
      margin-right: 15px;
      border-radius: 12.5px;
      width: 50px;
      height: 50px;
      object-fit: cover;
    }

    .name {
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      color: #161835;
      margin-bottom: 1px;
    }

    .edit {
      font-size: 16px;
      line-height: 20px;
      color: #858BA1;
      cursor: pointer;
    }
  }

  .navItem {
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    margin-bottom: 20px;
    .navLink {
      position: relative;
      &:after {
        content: "";
        background: rgba(27, 30, 98, 0.05);
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }
      &:last-child {
        &:after  {
          display: none;
        }
      }
      &:first-child {
        border-radius: 20px 20px 0 0;
      }
      &:last-child {
        border-radius: 0 0 20px 20px;
      }
    }
  }
  .navLink {
    align-items: center;
    display: flex;
    padding: 20px;
    img {
      margin-right: 16px;
    }
    .label {
      font-size: 16px;
      line-height: 20px;
      color: #161835;
      opacity: 0.6;
    }
  }
  .active {
    background: #FFFFFF;
    .label {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #161835;
      opacity: 1;
    }
  }
}

@media (max-width: 1366px) {
  .nav {
    width: 275px;

    .user {
      width: 275px;
    }
  }
}
@media (max-width: 992px) {
  .nav {
    width: 100%;

    .user {
      width: 100%;
    }
  }
}