.stats {
  width: 100%;
}
.row {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  line-height: 25px;
  color: #858BA1;
  .selector {
    font-size: 18px;
    line-height: 25px;
    color: #858BA1;
    background: transparent;
  }
}

@media (max-width: 767px) {
  .row {
    flex-wrap: wrap;
  }
}