.wrapper {
  position: absolute;
  background-color: #fff;
  border-radius: 12.5px;
  padding: 15px 40px;
  top: 66px;

}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  color: #858BA1;
  cursor: pointer;
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
}
.red {
  color: #F3533D;
}