.wrapper {
  width: 100%;
  padding: 0 120px 130px;
}

.btnWrap {
  width: 100%;
  padding: 30px 0;
  .backBtn {
    width: 187px;
    font-size: 16px;
    line-height: 20px;
    color: #858BA1;
    background: rgba(27, 30, 98, 0.05);
    border-radius: 12.5px;
    padding: 10px 15px 10px 40px;
    position: relative;
    img {
      position: absolute;
      width: 13px;
      height: 13px;
      left: 18px;
      top: calc(50% - 6px);
    }
  }

}

.row {
  width: 100%;
  display: flex;
}

.left {
  margin-right: 60px;
  .avatar {
    display: block;
    width: 240px;
    border-radius: 20px;
    height: 240px;
    margin-bottom: 20px;
    object-fit: cover;
  }
  .social {
    justify-content: center;
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    a {
      display: block;
      margin-right: 15px;
      width: 24px;
      height: 24px;
      &:last-child {
        margin-right: 0;
      }
      span {
        font-size: 24px;
      }
      .vk {
        color: #4d7198;
      }
      .inst {

      }
      .fb {
        color: #3b5998;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.right {
  overflow: hidden;
  width: 100%;
}

@media (max-width: 1366px) {
  .wrapper {
    padding: 0 60px;
  }
  .left {
    margin-right: 40px;
  }
}
@media (max-width: 992px) {
  .wrapper {
    padding: 0 40px;
  }
  .left {
    margin-right: 30px;
    .avatar {
      width: 160px;
      height: 160px;
    }
  }
}
@media (max-width: 767px) {
  .wrapper {
    padding: 0 10px;
  }
  .row {
    flex-wrap: wrap;
  }
  .left {
    width: 100%;
  }
}