@import "./src/styles/vars";


.button {
  display: block;
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  cursor: pointer;
  margin: 0;
  position: relative;
  color: #858BA1;


  &.icon-right > img {
    display: inline-block;
    float: right;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    object-fit: cover;
  }

  &.icon-left > img {
    display: inline-block;
    float: left;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    object-fit: cover;
  }

  &:hover {
    opacity: 0.75;
  }

  &.xlarge {
    font-size: 18px;
    line-height: 20px;
    padding: 20px 30px;
    border-radius: 15px;
    font-weight: 500;
  }

  &.large {
    font-size: 16px;
    line-height: 20px;
    padding: 15px 20px;
    border-radius: 12px;
    font-weight: 500;
  }

  &.medium {
    font-size: 16px;
    line-height: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 500;
  }

  &.small {
    font-size: 14px;
    line-height: 20px;
    padding: 2.5px 10px;
    border-radius: 7px;
    font-weight: 400;
  }

  &.primary {
    background: $primary;
    color: $white;
  }

  &.secondary {
    background: $secondary;
    color: $primary;
  }

  &.danger {
    background: $danger;
    color: $white;
  }

  &.danger-light {
    background: $danger-light;
    color: $danger;
  }

  &.full-width {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 100%;
  }
  &.googlePlay {
    background-color: black;
    width: 180px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      margin-top: 4px;
    }
  }
  &:disabled {
    &:hover {
      opacity: 1;
    }
    cursor: default;
    background: rgba(27, 30, 98, 0.05);
    color: #858BA1;
  }
}