.wrapper {
  width: 255px;
  background-color: #fff;
}
.image {
  margin-bottom: 30px;
  width: 80px;
}
.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #161835;
  margin-bottom: 16px;
}
.label {
  font-size: 18px;
  line-height: 30px;
  color: #858BA1;
  margin-bottom: 14px;
}

@media (max-width: 1366px) {
  .wrapper {
    width: 50%;
    margin-bottom: 30px;
    padding-right: 50px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
@media (max-width: 992px) {
  .wrapper {
    width: 100%;
    display: flex;
  }
  .box {
    width: calc(100% - 80px);
    padding-left: 70px;
  }
}
@media (max-width: 767px) {
  .wrapper {
    padding-right: 0;
  }
  .box {
    padding-left: 20px;
    width: calc(100% - 70px);
  }
  .label {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .image {
    width: 70px;
  }
}