.wrapper {
  width: 100%;
  height: 640px;
  position: relative;
  z-index: 1;
  background: linear-gradient(0deg, #EBEFF7, #EBEFF7), #FFFFFF;
}
.background {
  display: block;
  position: absolute;
  z-index: -1;
  right: 0;
}
.userPhoto {
  display: block;
  position: absolute;
  right: 5%;
  top: 77px;
  width: 45%;
  max-width: 740px;
}
.container {
  width: 55%;
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  .title {
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #161835;
    margin-bottom: 18px;
  }
  .text {
    font-size: 18px;
    line-height: 26px;
    color: #858BA1;
    margin-bottom: 60px;
  }
  .btnGroup {
    display: flex;
    * {
      margin-right: 20px;
    }
    &:last-child {
      margin-right: 0;
    }

  }
}

@media (max-width: 1366px) {
  .wrapper {
    height: 550px;
  }
  .userPhoto {
    width: 40%;
  }
  .container {
    padding: 0 60px;
    width: 60%;

    .title {
      font-size: 44px;
      line-height: 54px;
    }
  }
}
@media (max-width: 992px) {
  .wrapper {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding-bottom: 40px;
  }
  .container {
    padding: 50px 40px 60px;
    width: 100%;
  }
  .userPhoto {
    position: static;
    width: auto;
    width: calc(100% - 80px);
    max-width: 100%;
    margin: 0 40px;
  }
}
@media (max-width: 767px) {
  .wrapper {
    padding-bottom: 0;
    margin-bottom: 100px;
  }
  .container {
    padding: 40px 10px 0;
    margin-bottom: 20px;
    .title {
      font-size: 30px;
      line-height: 40px;
    }
    .text {
      font-size: 14px;
      margin-bottom: 40px;
    }
    .btnGroup {
      flex-wrap: wrap;

      * {
        margin-right: 0;
        width: 100%;
      }
      > * {
        margin-bottom: 20px;
      }
    }
  }
  .userPhoto {
    width: calc(100% - 20px);
    margin: 0 10px;
    border-radius: 9px;
    margin-bottom: -100px;
  }
}