.scroll {
  overflow-y: auto;
  max-height: 440px;
}
.empty {
  font-size: 15px;
  line-height: 20px;
  color: #858BA1;
  text-align: center;
}
.container {
  position: absolute;
  background-color: #fff;
  border-radius: 12.5px;
  padding: 15px 25px;
  top: 66px;
  right: 90px;
  width: 465px;
  ::-webkit-scrollbar {
    width: 7px;
    border-radius: 12.5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 12.5px;

  }

  ::-webkit-scrollbar-corner {
    border-radius: 12.5px;
  }
  ::-webkit-scrollbar-track-piece {
    border-radius: 12.5px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 12.5px;
    background: rgba(27, 30, 98, 0.05);
  }
  .clear {
    @extend .empty;
    margin-top: 15px;
    cursor: pointer;
    text-align: right;
  }
}

.item {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 15px;
  margin-bottom: 15px;
  position: relative;
  .icon {
    min-width: 40px;
    min-height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(65, 140, 252, 0.1);
    margin-right: 25px;
    .check {
      color: #62C440;
    }
    .times {
      color: #F3533D;
    }
    .question {
      color: #5465E7;
    }
    .coins {
      color: #F3C83D;
    }
    .headset {}
    .exclamation {}
    i {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: rgba(27, 30, 98, 0.05);
  }
  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    &:after {
      height: 0;
    }
  }
}

.message {
  padding-right: 5px;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 7px;
    vertical-align: bottom;
    line-height: 22px;
    .title {
      color: #161835;
      font-size: 18px;
      font-weight: 500;
    }
    .date {
      font-size: 14px;
      color: #858BA1;

    }
  }
  .text {
    font-size: 15px;
    line-height: 20px;
    color: #858BA1;
  }
  .btnGroup {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    button {
      flex: 0 0 48%;
    }
  }
  .single {
    button {
      flex: 1 1 100%;
    }
  }
}

@media (max-width: 767px) {
  .container {
    top: 50px;
    width: 100%;
    width: calc(100% + 40px);
    right: -40px;
    padding: 10px;
    z-index: 44;
  }
  .scroll {
    max-height: 230px;
  }
  .item {
    .icon {
      display: none;
    }
  }
  .message {
    .header {
      flex-wrap: wrap;
    }
  }
}