.wrapper {
  background: #FFFFFF;
  border-radius: 20px;
  padding: 30px 40px 40px;
  width: 100%;
}

.label {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: #858BA1;
}

.title {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #15174D;
  margin-bottom: 22px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .rating {
    display: flex;
    align-items: flex-end;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    color: #161835;
    span {
     @extend .label;
      padding-bottom: 6px;
      margin-left: 5px;
    }
  }
}

@media (max-width: 1366px) {
  .wrapper {
    padding: 30px 30px;
  }
}
@media (max-width: 767px) {
  .wrapper {
    padding: 30px 20px;
  }
}