.wrapper {
  background: #F5F6FA;
  border-radius: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  margin-bottom: 20px;
  cursor: pointer;
  overflow: hidden;

  transition: 0.2s; /* Время эффекта */

  &:hover {
    transform: scale(0.99);
  }

  .reviewImg {
    color: gold;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .time {
    .label {
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      color: #161835;
      width: 130px;
    }

    .duration {
      font-size: 16px;
      line-height: 20px;
      color: #858BA1;
      margin-top: 1px;
    }
  }

  .client {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #161835;
    min-width: 140px;
    margin-right: 15px;
    margin-left: 18px;
    overflow: hidden;

    .role {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #858BA1;
      margin-top: 1px;
    }
  }

  .amount {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #161835;
    min-width: 100px;
    overflow: hidden;
  }

  .btn {
    width: 90px;
    display: flex;
    justify-content: flex-end;

    .img {
      width: 40px;
      height: 40px;
      display: block;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    span {
      cursor: pointer;
      width: 40px;
      height: 40px;
      background: rgba(27, 30, 98, 0.05);
      margin-right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;

      &:last-child {
        margin-right: 0;
      }
    }

    .confirmed {
      cursor: pointer;
      position: relative;

      .tooltip {
        z-index: 5;
        background: #FFFFFF;
        color: #858BA1;
        opacity: 0;
        visibility: hidden;
        border-radius: 10px;
        padding: 8px;
        position: absolute;
        right: 20px;
        top: 25px;
        width: 207px;
      }

      &:hover {
        .tooltip {
          transition: all ease 0.3s;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  max-height: 250px;

  &__label {
    margin-bottom: 12px;
    color: #858BA1;
    font-size: 14px;
  }

  &__title {
    font-weight: 600;
    font-size: 21px;
  }
}

.date {
  font-size: 16px;
  line-height: 20px;
  color: #858BA1;
  margin-bottom: 15px;
}

.red {
  background: rgba(251, 81, 57, 0.05);

  .time {
    .label {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #FFFFFF;
    }

    .duration {
      margin-top: 6px;
      color: rgba(89, 30, 22, 0.5);
    }
  }

  .client {
    color: #591E16;

    .role {
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: rgba(89, 30, 22, 0.5);
    }
  }

  .amount {
    color: #591E16;
  }
}

.orange {
  background: rgba(255, 165, 0, 0.05);

  .time {
    .label {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #FFA500;
    }

    .duration {
      margin-top: 6px;
      color: rgba(255, 165, 0, 0.5);
    }
  }

  .client {
    color: #FFA500;

    .role {
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: rgba(255, 165, 0, 0.5);
    }
  }

  .amount {
    color: #ffa500;
  }

}




@media (max-width: 767px) {
  .wrapper {
    flex-wrap: wrap;
    position: relative;
    padding: 15px;
    padding-right: 100px;

    .client {
      margin-left: 0;
      margin-right: 0;
      margin-top: 15px;
      width: 100%;
      font-size: 16px;
      line-height: 26px;
    }

    .time {
      .label {
        font-size: 16px;
      }

      .duration {
        font-size: 14px;
      }
    }

    .amount {
      position: absolute;
      top: 15px;
      right: 15px;
      min-width: auto;
      font-size: 16px;
    }

    .btn {
      width: auto;
      position: absolute;
      right: 15px;
      bottom: 10px;
    }
  }
  .modal {
    &__title {
      font-size: 18px;
      line-height: 24px;
    }
  }
}