.wrapper {
}
.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #161835;
  margin-bottom: 7px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 20px;
  color: #858BA1;
  margin-bottom: 25px;
  &:nth-child(2) {
    margin-bottom: 0;
  }
  .edit {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    img {
      margin-right: 5px;
      margin-bottom: 1px;
    }
  }
}

@media (max-width: 767px) {
  .title {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    text-align: center;
  }
  .row {
    flex-wrap: wrap;
    justify-content: center;

    >time {
      width: 100%;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}
