.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100% - 86px);
}
.title {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #161835;
  margin-bottom: 16px;
}
.label {
  margin-top: 15px;
  font-size: 14px;
  line-height: 20px;
  color: #BBBFCD;
}


