.wrapper {
  	margin: 0 auto;
}
.label {
	margin-bottom: 15px;
	font-size: 16px;
	line-height: 20px;
	color: #858BA1;
}
.container {
	display: flex;
    overflow: hidden;
    width: 100%;
    align-items: center;
}
.arrow {
	display: block;
	font-size: 32px;
	cursor: pointer;
	color: #858ba1;
	border-radius: 100%;
}
.left {
	padding-right: 30px;
}
.right {
	padding-left: 30px;
}
.categorySlide {
	width: 120px;
}

@media (max-width: 1366px) {
	.arrow {
		position: absolute;
		z-index: 44;
	}
	.left {
		left: 30px;
	}
	.right {
		right: 30px;
	}
}
//@media (max-width: 992px) {
//	.arrow {
//		display: none;
//	}
//}
@media (max-width: 767px) {
	.right {
		background: rgba(0, 96, 249, 0.1);
		border-radius: 5px;
		width: 40px;
		height: 40px;
		z-index: 22;
		padding: 0;
		position: absolute;
		right: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #7A7FDA;
		font-size: 18px;

		> i {
			font-weight: 400px;
		}
	}

	.left {
		background: rgba(0, 96, 249, 0.1);
		border-radius: 5px;
		width: 40px;
		height: 40px;
		z-index: 22;
		padding: 0;
		position: absolute;
		right: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #7A7FDA;
		font-size: 18px;

		> i {
			font-weight: 400px;
		}
	}

}