.wrapper {

}
.title {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #161835;
  margin-bottom: 11px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  .btn {
    display: flex;
    align-items: center;
    width: 93px;
    padding: 5px 0;
    background: rgba(65, 140, 252, 0.1);
    border-radius: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #5465E7;
    &:last-child {
      justify-content: flex-end;
    }

    .next {
      width: 18px;
      height: 18px;
      margin-left: 5px;
      margin-right: 10px;
    }
    .prev {
      @extend .next;
      transform: rotate(180deg);
      margin-left: 10px;
      margin-right: 5px;
    }
    &:disabled {
      color: #858BA1;
      cursor: default;
      .prev {
        path {
          fill: #858BA1;
        }
      }
    }
  }

}
.message {
  margin-top: 30px;
  text-align: center;
}

.container {
  .time {
    .label {
      cursor: pointer;
      font-size: 14px;
      line-height: 20px;
      color: #858BA1;
      margin-bottom: 9px;
      background: rgba(27, 30, 98, 0.05);
      border-radius: 15px;
      padding: 5px 12px;
      display: inline-block;
      span {
        font-size: 11px;
        margin-left: 5px;
      }
    }
    .label.active {
      background: #5465E7;
      color: #fff;
    }
    .row {
      display: grid;
      grid-template-columns: repeat( auto-fill, minmax(78px, auto));
      grid-gap: 10px;
      margin-bottom: 21px;
      .item {
        cursor: pointer;
        background: rgba(27, 30, 98, 0.05);
        border-radius: 12.5px;
        text-align: center;
        padding: 10px 0;
        width: 78.3px;
        font-size: 16px;
        line-height: 20px;
        color: #858BA1;
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
      }
      .active {
        background: #5465E7;
        color: #fff;
      }
    }
  }
}

@media (max-width: 767px) {
  .header {
    .btn {
      width: 40px;
      font-size: 0;
    }
  }
  .container {
    .time {
      .row {
        grid-template-columns: repeat( auto-fill, minmax(60px, auto));
        .item {
          width: 60px;
        }
      }
    }
  }
}