.wrapper {
  padding: 5px 30px 0 30px;
  h1 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 22px;
  }
  p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
  }
  ul {
    margin-bottom: 20px;
    padding-left: 30px;
    li {
      font-size: 16px;
      line-height: 26px;

    }
  }
}