.wrapper {
  width: 100%;
}
.inputGroup {
  width: 100%;
  margin-top: 55px;
  margin-bottom: 46px;
  .trouble {
    display: block;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #858BA1;
  }
}

@media (max-width: 767px) {
  .inputGroup {
    margin-top: 35px;
    margin-bottom: 20px;
  }
}