@import "./src/styles/vars";

.box {
  background: #fff;
  position: absolute;
  z-index: 999;
  top: 30px;
  left: 0;
  display: inline-block;
  max-height: 150px;
  overflow-y: auto;
  .box-item {
    font-size: 16px;
    line-height: 20px;
    padding: 5px 10px;
    color: #161835;
    opacity: 0.6;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}

.plusBtn {
  img {
    display: block;
    margin: auto;
    width: 15px;
    height: 15px;
  }

  background: rgba(65, 140, 252, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 7px;

  &:hover {
    opacity: 0.75;
  }
}

.inputWrap {
  background: $secondary;
  border-radius: 7px;
  position: relative;
  width: 156px;
  .inputTag {
    width: 136px;
    background: transparent;
    font-size: 16px;
    line-height: 20px;
    padding: 5px 10px;
    border-radius: 7px;
    font-weight: 400;
    color: $primary;
  }
  .icon {
    position: absolute;
    display: block;
    margin: auto;
    right: 7.5px;
    top: calc(50% - 7.5px);
    width: 15px;
    height: 15px;
  }
}



.tag {
  display: inline-block;
  margin: 0;

  &.icon-left > img {
    display: inline-block;
    float: left;
    margin-right: 2px;
    width: 20px;
    height: 20px;
    object-fit: cover;
  }

  &.closable > img {
    display: inline;
    float: right;
    margin-left: 2px;
    width: 20px;
    height: 20px;
    object-fit: cover;
    cursor: pointer;

    &:hover {
      opacity: 0.75;
    }
  }

  &.small {
    font-size: 14px;
    line-height: 20px;
    padding: 0 10px;
    border-radius: 7px;
  }

  &.medium {
    font-size: 16px;
    line-height: 20px;
    padding: 5px 10px;
    border-radius: 7px;
    font-weight: 400;
  }

  &.danger {
    background: $danger;
    color: $white;
    border-radius: 7px;
  }

  &.secondary {
    background: $secondary;
    color: $primary;
  }

  &.dark-opacity {
    background: $dark-opacity;
    color: $white;
  }

  &.warning {
    background: $warning;
    color: $white;

  }
}