.wrapper {
  width: 100%;
  height: 480px;
  position: relative;
  z-index: 1;
  background: linear-gradient(0deg, #EBEFF7, #EBEFF7), #FFFFFF;
}
.background {
  display: block;
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
}
.container {
  width: 50%;
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  .title {
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    color: #161835;
    margin-bottom: 20px;
  }
  .text {
    font-size: 18px;
    line-height: 25px;
    color: #858BA1;
    margin-bottom: 80px;
  }
}

