.wrapper {
  background: #FFFFFF;
  border-radius: 20px;
  padding: 30px 40px 40px;
  margin-bottom: 20px;
  max-width: 100%;
}

.title {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #15174D;
  margin-bottom: 21px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
  .doc {
    display: block;
    position: relative;
    width: 180px;
    min-width: 180px;
    height: 120px;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 25px;
    margin-right: 20px;
    .dark {
      background-color: rgba(22, 24, 53, 0.4);
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .label {
        text-align: center;
        margin: 0 auto;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        position: relative;

        .link {
          margin: 0 auto;
          padding: 5px 15px;
          font-size: 12px;
          line-height: 15px;
          font-weight: normal;
          display: block;
          cursor: pointer;
          color: #FFFFFF;
          width: 90px;
          height: 25px;
          background: rgba(255, 255, 255, 0.4);
          border-radius: 7.5px;
        }
      }
      &:hover {
        opacity: 1;
      }
    }
    embed {
      max-width: 100%;
    }
  }
}

@media (max-width: 1366px) {
  .wrapper {
    padding: 30px 30px;
  }
}
@media (max-width: 992px) {
  .row {
    flex-wrap: initial;
    overflow: auto;
  }
}
@media (max-width: 767px) {
  .wrapper {
    padding: 30px 20px;
  }
}