.wrapper {
  margin-top: 23px;
}
.row {
  display: flex;
  justify-content: space-between;
}
.nav {
  background: #fff;
  border-radius: 100%;
  cursor: pointer;
  &:disabled {
    cursor: default;
  }
}
.left {
  transform: rotate(180deg);
}
.week {
  width: 100%;
}
.labels {
  display: flex;
  flex-direction: row;
  margin: 0 40px 13px;
  span {
    flex: 1;
    text-align: center;
    font-size: 10px;
    line-height: 10px;
    color: #BBBFCD;
  }
}
@media (max-width: 767px) {
  .wrapper {
    margin-top: 30px;
  }
  .row {
    position: relative;
    padding-top: 10px;
  }
  .nav {
    position: absolute;
    top: -38px;
    right: 0;
  }
  .left {
    right: auto;
    left: 0;
  }
  .week {
    position: relative;
    &:after {
      content: '';
      width: 32px;
      height: 100%;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+10,ffffff+100&0+0,0+10,1+100 */
      background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 10%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 10%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 10%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: 22;
    }
  }
}