.wrapper {
  padding: 85px 0 160px;
  width: 100%;
}

.label {
  font-size: 16px;
  line-height: 20px;
  color: #858BA1;
  margin-bottom: 15px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}


@media (min-width: 767px) {
  .wrapper {
    display: none;
  }
}


@media (max-width: 1366px) {
  .wrapper {
    padding: 80px 0 80px;
  }
}
@media (max-width: 992px) {
  .wrapper {
    padding: 50px 0 50px;
  }
}
@media (max-width: 767px) {
  .wrapper {
    padding: 20px 0 20px;
  }
  .grid {
    grid-template-columns: initial;
  }
}