@import "./src/styles/vars";

.video-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  cursor: pointer;
  margin: 0;
  width: 60px;
  height: 60px;
  border-radius: 100%;

  &:hover {
    opacity: 0.75;
  }

  &.white {
    background: $white;
  }

  &.danger {
    background: $danger;
  }
}