.wrapper {
  width: 100%;
  margin-bottom: 9px;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 15px 20px;
  max-width: 90%;
  word-break: break-word;
}
.link {
  margin-top: 10px;
  display: block;
  position: relative;
  max-width: 80%;
  overflow: hidden;
  &:before {
    content: "";
    width: 2px;
    background: #B6C2F2;
    border-radius: 37px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding-left: 8px;
  .title {
    max-height: 20px;
    margin-bottom: 1px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .url {
    max-height: 20px;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
  }
}

.text {
  font-size: 16px;
  line-height: 20px;
}

.active {
  .container {
    align-self: flex-end;
    background: #5465E7;
    color: #FFFFFF;
    border-radius: 20px 20px 0 20px;
    .link {
      .url {
        color: #B6C2F2;
      }
    }
  }
  .time {
    text-align: right;
  }
}

.default {
  .container {
    align-self: flex-start;
    background: #FFFFFF;
    color: #858BA1;
    border-radius: 20px 20px 20px 0;
    link {
      .url {
        color: #858BA1;
      }
    }
  }
  .time {
    text-align: left;
  }
}

.time {
  font-weight: 500;
  font-size: 12px;
  line-height: 10px;
  color: #BBBFCD;
  margin-top: 11px;
}

@media (max-width: 767px) {
  .container {
    padding: 10px 15px;
  }
}