.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  align-items: center;
  .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #161835;
  }
  .label {
    font-size: 14px;
    line-height: 20px;
    color: #858BA1;
  }
}

.message {
  margin: 30px auto;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: #858BA1;
  img {
    display: block;
    margin: 0 auto 18px;
  }
}

.meeting {
  background: #F5F6FA;
  border-radius: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #161835;
  div {
    &:first-child {
      flex: 0 0 25%;
      margin-right: 25px;
    }
    &:nth-child(2) {
      flex: 1 0 55%;
      padding-right: 5px;
    }
    &:nth-child(3) {
      flex: 0 0 20%;
    }

  }
  &:last-child {
    margin-bottom: 0;
  }
}