.title {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #161835;
  margin-bottom: 31px;
}

.search,
.invite {
  width: 100%;
}

.blockOffset {
  margin-bottom: 30px;
}

.block {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card {
  background: #FFFFFF;
  box-shadow: 0 5px 50px rgba(25, 35, 75, 0.025);
  border-radius: 25px;
  padding: 30px;
  min-height: 100%;
  max-height: 490px;
}

.meetings {
  //max-height: -webkit-calc(100% - 80px);;
  //max-height: calc(100% - 80px) !important;
  //max-height: 140px;
  //touch-action: none !important;
  //-ms-touch-action: none !important;
  overflow-y: auto;
  //overflow: auto;
  -webkit-overflow-scrolling: auto;

  .dayMeetings {
    max-height: 100%;
    height: 100%;

    .date {
      font-size: 16px;
      line-height: 20px;
      color: #858BA1;
      margin: 25px 0 15px;
    }
  }
}

.meetings::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0;
  height: 0;
}

.message {
  margin: 100px auto;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: #858BA1;

  img {
    display: block;
    margin: 0 auto 18px;
  }
}

.greetings_wrapper {
  //padding: 30px;
  background: #FFFFFF;
  box-shadow: 0 5px 50px rgba(25, 35, 75, 0.025);
  border-radius: 25px;
  overflow-y: hidden;
  padding: 30px;
  margin-bottom: 50px;

  .container {
    background: #FFFFFF;
    box-shadow: 0 5px 50px rgba(25, 35, 75, 0.025);
    border-radius: 25px;
    overflow-y: hidden;
    display: flex;
  }

  .settingsButton {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #858BA1;
    margin-bottom: 22px;
  }

  .settingsButton:hover {
    color: #777a83;
  }
}

.avatar {
  display: block;
  min-width: 150px;
  min-height: 150px;
  max-width: 150px;
  max-height: 150px;
  border-radius: 20px;
  object-fit: cover;
  margin-right: 20px;
}

@media (max-width: 767px) {
  .title {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .card {
    padding: 30px 20px;
    min-height: auto;
  }
  .greetings_wrapper {
    .container {
      flex-wrap: wrap;
      border-radius: 0;
      box-shadow: none;
    }
  }
  .avatar {
    min-width: 100px;
    min-height: 100px;
    margin-bottom: 20px;
    width: 100px;
  }
}
