@import "./vars";

.swiper-container.swiper-container-free-mode {
  .swiper-slide {
    height: auto;

    .specialistCard {

      .specialistDesc {
        padding-bottom: 25px;
      }

      .specialistBtn {
        position: absolute;
      }
    }
  }
}

.popup-content {
  max-height: 100%;
  overflow-y: auto;
}

@media (max-width: 1366px) {
  #dashboard .categoriesContainer {
    [class^="styles_container"] {
      margin: 0 -60px;
      width: auto;

      .swiper-container {
        padding-left: 60px;
      }
    }
  }
}

@media (max-width: 992px) {
  .categoriesContainer, #dashboard .categoriesContainer {
    [class^="styles_container"] {
      margin: 0 -40px;
      width: auto;

      .swiper-container {
        padding-left: 40px;
      }
    }
  }
}

@media (max-width: 767px) {
  .categoriesContainer, #dashboard .categoriesContainer {
    [class^="styles_container"] {
      margin: 0 -10px;
      width: auto;

      .swiper-container {
        padding-left: 10px;
      }
    }
  }
}

#main {
  .categoriesContainer {
    padding: 0 60px;
  }

  @media (max-width: 1366px) {
    .swiper-container {
      padding-left: 60px;
    }
    .categoriesContainer {
      padding: 0 0;
    }
  }
  @media (max-width: 992px) {
    .swiper-container {
      padding-left: 40px;
    }
    .categoriesContainer {
      [class^="styles_container"] {
        margin: 0;
        width: auto;
      }
    }
  }
  @media (max-width: 767px) {
    .swiper-container {
      padding-left: 10px;
    }
    .search-group {
      margin-left: -20px;
    }
    .categoriesContainer {
      [class^="styles_container"] {
        margin: 0;
        width: auto;
      }
    }
  }
}



#profi {
  .calendar-week > .calendar-day {
    margin-right: 15px;
  }
}

