$primary: rgba(84, 101, 231, 1);
$secondary: rgba(65, 140, 252, 0.1);
$danger: rgba(251, 81, 57, 1);
$danger-light: rgba(251, 81, 57, 0.05);
$white: rgba(255, 255, 255, 1);
$dark-opacity: rgba(39, 40, 58, 0.5);
$warning: rgba(255, 165, 0, 0.5);
$light: #F5F6FA;
$onLight-muted: rgba(187, 191, 205, 1);
$onLight-secondary: rgba(133, 139, 161, 1);
$onDark-secondary: rgba(182, 194, 242, 1);
$dark: #161835;