.wrapper {
  max-width: 400px;
  min-width: 350px;
  background: #F5F6FA;
  border-radius: 20px;
  margin-right: 30px;
  padding: 30px 30px 25px;
  overflow: hidden;
  &:last-child {
    margin-right: 0;
  }
}

.buttons1 {
  // position: absolute;
  bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  max-width: 100%;
  min-width: 86%;

  display: block;
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  cursor: pointer;
  background: #5465e7;
  color: white;
  margin: auto;
  margin-bottom: 20px;

  height: 45px;
  border-radius: 10px;
}

.buttons1Disabled {
  // position: absolute;
  bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  max-width: 100%;
  min-width: 86%;

  display: block;
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  cursor: default;
  background: #b5b5b5;
  color: #ffffff;
  margin: auto;
  margin-bottom: 20px;

  height: 45px;
  border-radius: 10px;
}

.desc {
  font-size: 16px;
  line-height: 20px;
  color: #858BA1;
  margin-bottom: 45px;
  margin-top: 20px;
}
.addition {
  @extend .desc;
  margin-top: 15px;
  text-align: center;
  padding-bottom: 30px;

  &.free {
    & span:nth-child(1) {
      text-decoration: line-through;
      font-size: 15px;
      line-height: 30px;
      margin-bottom: 8px;
      opacity: 0.8;
    }
    & span:nth-child(2) {
      text-decoration: none;
      font-size: 12px;
      margin-left: 5px;
    }
  }
}

.left, .right {
  width: 100%;
  bottom: 10px;
}
.small {
  height: 100%;
  min-height: 390px;
  position: relative;
}
.big {
  background: #fff;
  min-width: 100%;
  max-width: 840px;
  margin-bottom: 20px;
  margin-right: 0;
  padding: 40px;
  &:last-child {
    margin-bottom: 0;
  }
  .right {
    width: 33.33%;
    //display: flex;
    //flex-direction: column;
    //justify-content: space-between;
  }
  .left {
    width: 66.66%;
  }
  .desc {
    margin-bottom: 0;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 992px) {
  .big {
    padding: 40px 30px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    min-width: 260px;
    padding: 25px 20px 40px;
    max-height: initial;
  }
  .desc {
    margin-top: 15px;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .addition {
    padding-bottom: 15px;
  }
  .big {
    .header {
      flex-wrap: wrap;
    }
    .left, .right {
      width: 100%;
    }
    .right {
      margin-top: 10px;
    }
  }
}