.container {
  padding: 0 120px;
  margin-bottom: 60px;
}

.hideDesctop {
  display: block;
}


@media (min-width: 1366px) {
  min-height: calc(100vh - 255px - 80px);

}

.container {
  padding: 0 60px;
}


@media (max-width: 1366px) {
  .container {
    padding: 0 60px;
  }

}

@media (max-width: 767px) {
  .container {
    padding: 0 60px;
  }
}

@media (max-width: 992px) {
  .container {
    padding: 0 40px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 10px;
  }
}