.tooltip {
  margin-left: 10px;
  position: relative;
  color: rgba(84,101,231,1);
  width: 135px;

  i {
    cursor: pointer;
    padding-bottom: 1px;
    font-size: 14px;
    vertical-align: middle;
  }
  .body {
    z-index: 5;
    background: #FFFFFF;
    color: #858BA1;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
    padding: 8px;
    position: absolute;
  }
  &:hover {
    .body {
      transition: all ease 0.3s;
      opacity: 1;
      visibility: visible;
    }
  }
}