.wrapper {
  margin-bottom: 15px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 14px;
  position: relative;
  margin-bottom: 14px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255,255,255, .1);
  .question {
    font-weight: 500;
    color: #C0C8E6;
    font-size: 18px;
    line-height: 22px;
    margin-right: 20px;
  }
  .icon {
    cursor: pointer;
  }
  &:after {
    content: "";
    width: 100%;
    background: rgba(27, 30, 98, 0.1);
    height: 1px;
    position: absolute;
    bottom: 0;
  }
}
.answer {
  margin-bottom: 30px;

  ul {
    padding: 10px 0;
    li {
      margin-left: 50px;
    }
  }
}