%modal {
  max-width: 500px;
  min-width: 400px;

  background: #fff;
  padding: 30px 25px;
  border-radius: 25px;

  ::-webkit-scrollbar {
    width: 7px;
    border-radius: 12.5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 12.5px;

  }

  ::-webkit-scrollbar-corner {
    border-radius: 12.5px;
  }
  ::-webkit-scrollbar-track-piece {
    border-radius: 12.5px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 12.5px;
    background: rgba(27, 30, 98, 0.05);
  }
}

.modal {
  @extend %modal;
}

.modal_mini {
  @extend %modal;
  min-width: 660px;
  min-height: 770px;
  zoom: 82%;
}

.container {
  overflow-y: auto;
  width: 100%;
  max-height: 300px;
}
.full_container {
  width: 100%;
}
.big {
  min-width: 600px;
  max-width: 800px;
}

@media (max-width: 767px) {
  .modal {
    max-width: 100%;
    margin: 10px;
    min-width: initial;
    padding: 20px;
  }
  .modal_mini, .big {
    min-width: auto;
  }
  .modal_mini {
    margin: 10px;
    zoom: initial;
    min-height: initial;
    padding: 20px;
    max-height: 100%;
    overflow-y: auto;
  }
}