.wrapper {
  margin-bottom: 28px;

}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 23px;
  position: relative;
  margin-bottom: 28px;
  cursor: pointer;
  .question {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #27283A;
  }
  .icon {
    cursor: pointer;
  }
  &:after {
    content: "";
    width: 100%;
    background: rgba(27, 30, 98, 0.1);
    height: 1px;
    position: absolute;
    bottom: 0;
  }
}
.answer {
  font-size: 18px;
  line-height: 28px;
  a {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
  }
  ul {
    padding: 10px 0;
    li {
      margin-left: 50px;
    }
  }
}

@media (max-width: 767px) {
  .row {
    .question {
      font-size: 18px;
      line-height: 22px;
      margin-right: 20px;
    }
  }
}