.wrapper {
  width: 100%;
}

.wrapperOnBoard {
  width: 100%;
}

.grid_on_board, .grid_mini, .grid {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.grid_mini {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.grid_on_board {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100% !important;
}

.calendar-labels {
  display: flex;
  flex-direction: row;
  margin-bottom: 13px;
}

/*# sourceMappingURL=styles.module.css.map */
