.wrapper {
  width: 100%;
}

.wrapperOnBoard {
  width: 100%;
}

%grid {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.grid {
  @extend %grid;
}

.grid_mini {
  @extend %grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.grid_on_board {
  @extend %grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  //width: 45% !important;
  width: 100% !important;

}

.calendar-labels {
  display: flex;
  flex-direction: row;
  margin-bottom: 13px;
}

.input_on_board {
}

@media (max-width: 767px) {
	.grid {
		grid-template-columns: initial;
		grid-gap: 15px;
	}
}