.wrapper {
  width: 100%;
  height: 550px;
  position: relative;
  z-index: 1;
  background: linear-gradient(0deg, #EBEFF7, #EBEFF7), #FFFFFF;
  overflow: hidden;
}
.background {
  display: block;
  position: absolute;
  z-index: -1;
  right: 0;
}
.userPhoto {
  display: block;
  position: absolute;
  right: 5%;
  top: 77px;
  width: 45%;
  max-width: 680px;
}
.container {
  width: 55%;
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  .title {
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #161835;
    margin-bottom: 18px;
  }
  .text {
    font-size: 18px;
    line-height: 26px;
    color: #858BA1;
    margin-bottom: 60px;
  }
  .btnGroup {
    display: flex;
    * {
      margin-right: 20px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

@media (max-width: 1366px) {
  .userPhoto {
    max-width: 360px;
  }
  .container {
    padding: 0 60px;
    width: 60%;

    .title {
      font-size: 44px;
      line-height: 54px;
    }
  }
  .background {
    right: -20%;
  }
}
@media (max-width: 992px) {
  .container {
    width: 70%;
    padding: 0 40px;
  }
  .background {
    right: -45%;
  }
}
@media (max-width: 767px) {
  .wrapper {
    height: auto;
  }
  .container {
    width: 100%;
    padding: 40px 10px 300px;

    .title {
      font-size: 28px;
      line-height: 40px;
    }
    .text {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 30px;
    }
    .btnGroup {
      * {
        margin-right: 0;
        width: 100%;
      }
    }
  }
  .background {
    height: 500px;
    bottom: -30%;
    right: -20%;
  }
}
@media (max-width: 480px) {
  .background {
    right: -75%;
  }
}