.form {
  width: 100%;
}

%container {
  width: 100%;
  margin-top: 20px;
  background: #F5F6FA;
  border-radius: 15px;
  padding: 12px 20px 0;

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .label {
    font-size: 12px;
    line-height: 14px;
    color: #858BA1;
    margin-bottom: 9px;

    i {
      margin: 5px;
      color: blue !important;
    }
  }

  span {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.container {
  @extend %container;
}

.form_on_board {
  //width: 45%;
  width: 100%;

}