.wrapper {
  width: 100%;
  height: 490px;
  padding: 0 120px;
  background: #161835;
}

.socLinks {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 79px;
  position: relative;
  margin-bottom: 29px;
  .link {
    //background: #fff;
    margin-right: 30px;
    span {
      margin-top: 3px;
      display: block;
      font-size: 25px;
      color: #C0C8E6;
    }
    img {
      width: 25px;
      height: 25px;
      display: block;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &:after {
    content: "";
    bottom: 0;
    position: absolute;
    height: 1px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
  }
}

.row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 39px;
  position: relative;
  margin-bottom: 35px;
  .column {
    width: 270px;
    .title {
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      color: #C0C8E6;
      margin-bottom: 11px;
    }
    .item {
      cursor: pointer;
      font-size: 16px;
      line-height: 30px;
      color: #7F8AB5;
      display: block;
    }
  }
  &:after {
    content: "";
    bottom: 0;
    position: absolute;
    height: 1px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
  }
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .text {
    font-size: 16px;
    line-height: 20px;
    color: #7F8AB5;
    max-width: 70%;

    .rights {
      margin-top: 20px;
      line-height: 19px;
      opacity: 0.5
    }
  }
  .btn {
    background: #161835;
    border: 1px solid #2E3167;
    padding: 13px 29px;
    border-radius: 15px;
  }
}

.accordion {
  display: none;

  .answerItemsWrapper {
    >.item {
      margin-bottom: 15px;
    }
  }

  .item {
    color: #C0C8E6;
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
    display: block;
  }
}

@media (max-width: 1366px) {
  .wrapper {
    padding: 0 60px;
  }
}
@media (max-width: 992px) {
  .wrapper {
    height: auto;
    padding: 0 40px;
  }
  .row {
    margin-bottom: 0;
    .column {
      width: 200px;
    }
  }
  .about {
    padding-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .wrapper {
    height: auto;
    padding: 0 10px;
  }
  .row {
    display: none;
  }
  .accordion {
    display: block;
  }
  .socLinks {
    justify-content: center;
    margin-bottom: 14px;
  }
}