.wrapper {
  width: 100%;
  padding: 60px 120px 45px;
}
.row {
  display: flex;
  .showAll {
    font-size: 16px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    margin-left: 20px;
    min-width: 170px;
    border-radius: 15px;
    background: #5465E7;
  }
}
.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  color: #161835;
  margin-bottom: 39px;
}
.input {
  width: 100%;
  position: relative;
}
.box {
  background: #fff;
  position: absolute;
  z-index: 999;
  top: 60px;
  left: 50px;
  display: inline-block;
  max-height: 150px;
  overflow-y: auto;
  .item {
    font-size: 18px;
    line-height: 20px;
    padding: 5px 10px;
    color: #161835;
    opacity: 0.6;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}

@media (max-width: 1366px) {
  .wrapper {
    padding: 60px 60px 45px;
  }
}
@media (max-width: 992px) {
  .wrapper {
    padding: 30px 40px;
  }
  .title {
    font-size: 32px;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .wrapper {
    padding: 30px 10px;
  }
  .title {
    font-size: 22px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .row {
    flex-wrap: wrap;
    .showAll {
      margin-left: 0;
      height: 50px;
      margin-top: 20px;
      width: 100%;
    }
  }
}