.wrapper {
  width: 360px;
  background-color: #fff;
  margin-right: 60px;
}
.image {
  margin-bottom: 30px;
  width: 360px;
  height: 220px;
  border-radius: 20px;
  position: relative;
  .live {
    top: 20px;
    left: 20px;
    position: absolute;
  }
  .views {
    bottom: 20px;
    left: 20px;
    position: absolute;
  }
  img {
    width: 100%;
    height: 100%;
  }
  .play {
    width: 60px;
    height: 60px;
    position: absolute;
    left: calc(50% - 30px);
    top: calc(50% - 30px);
    backdrop-filter: blur(10px);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      display: block;
      margin-left: 7px;
    }
  }
}
.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #161835;
  margin-bottom: 16px;
}
.desc {
  font-size: 18px;
  line-height: 30px;
  color: #858BA1;
}

