.btnGroup {
  display: flex;
  .btn {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    &:last-child {
      margin-right: 0;
    }
    .btnItem {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #858BA1;
      background: #F5F6FA;
      border-radius: 12.5px;
      width: 100%;
      height: 100%;
      padding: 15px 21px;
      .google {
        margin-right: 10px;
      }
      .vk {
        width: 24px;
      }
    }
  }
  .large {
    width: 220px;
    height: 50px;
  }
}

@media (max-width: 767px) {
  .btnGroup {
    .btn {
      .btnItem {
        .google {
          margin-right: 0;
        }
        >div {
          display: none;
        }
      }
    }
    .large {
      width: 50px;
    }
  }
}