.wrapper {
  width: 100%;
  position: relative;
}

.box {
  background: #fff;
  position: absolute;
  z-index: 999;
  top: 60px;
  left: 50px;
  display: inline-block;
  max-height: 150px;
  overflow-y: auto;
  .item {
    font-size: 18px;
    line-height: 20px;
    padding: 5px 10px;
    color: #161835;
    opacity: 0.6;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}

@media (max-width: 992px) {
  .wrapper {
    min-width: 260px;
  }
}
