.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: calc(100% - 86px);
}
.container {
  text-align: center;
  .circle {
    display: block;
    margin: 0 auto 30px;
  }
  .title {
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
    color: #15174D;
    margin-bottom: 13px;
  }
  .label {
    max-width: 520px;
    font-size: 18px;
    line-height: 25px;
    color: #858BA1;
  }
  .close {
    @extend .label;
    cursor: pointer;
  }
}

@media (max-width: 767px) {
  .container {
    .title {
      font-size: 22px;
      line-height: 30px;
    }
    .label {
      font-size: 16px;
    }
  }
}
