.wrapper {
  width: 100%;
  padding: 15px 0 85px;
  display: flex;

  >div {
    max-width: 100%;
  }
}
.nav {
  min-width: 300px;
  max-width: 300px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  margin-right: 60px;
  .item {
    display: flex;
    padding: 18px 20px;
    position: relative;
    align-items: center;
    &:after {
      content: "";
      background: rgba(27, 30, 98, 0.05);
      height: 1px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
    &:last-child {
      &:after  {
        display: none;
      }

    }
    .label {
      cursor: pointer;
      font-size: 16px;
      line-height: 20px;
      color: #161835;
      opacity: 0.6;
    }
    .active {
      font-weight: 500;
      opacity: 1;
    }
    img {
      width: 24px;
      height: 24px;
      margin-right: 16px;
      border-radius: 5px;
    }
  }
  @media (max-width: 992px) {
    display: none;
  }
}

.navScrollable {
  display: none;

  .header {
    font-size: 16px;
    line-height: 20px;
    color: #858BA1;
    margin-bottom: 20px;
  }
  @media (max-width: 992px) {
    display: block;
  }
}

.searchNavCard {
  width: 160px;
}

.message {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: #858BA1;
  margin-top: 60px;
}

.container {
  width: 100%;
}

@media (max-width: 1366px) {
  .nav {
    min-width: 270px;
    margin-right: 30px;
  }
}
@media (max-width: 992px) {
  .wrapper {
    flex-wrap: wrap;
  }
  .container {
    margin-top: 50px;
  }
}