.wrapper {
  margin-bottom: 40px;
}
.title {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #161835;
  margin-bottom: 11px;
}
.row {
  display: flex;
}
.priceTime {
  width: 115px;
  padding: 15px;
  background: rgba(27, 30, 98, 0.05);
  border-radius: 10px;
  color: #858BA1;
  margin-right: 20px;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
  .time {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
  }
  .price {
    font-size: 12px;
    line-height: 15px;
  }
  .free {
    span:nth-child(1) {
      text-decoration: line-through;
      font-size: 10px;
      opacity: 0.8;
    }
    span:nth-child(2) {
      text-decoration: none;
      font-size: 14px;
      margin-left: 5px;
    }
  }
}
.active {
  background: #5465E7;
  color: #fff;
}

@media (max-width: 767px) {
  .row {
    flex-wrap: wrap;
  }
  .priceTime {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .wrapper {
    margin-bottom: 10px;
  }
}
