.avatar {
  display: block;
  min-width: 120px;
  min-height: 120px;
  max-width: 120px;
  max-height: 120px;
  border-radius: 20px;
  object-fit: cover;
}
.form {
  display: flex;
}

.wrapper_mini {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.action {
  width: 420px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .row {
    margin-top: 15px;
    display: flex;
  }
}

.actionWrapper {
  display: flex;
}

.uploader {
  .label {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    margin: 0;
  }
  .input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
    cursor: pointer;
    left: 0;
  }
}

.label {
  font-size: 16px;
  line-height: 20px;
  color: #858BA1;
}

.colorRed {
  color:red;
}

@media (max-width: 1366px) {
  .action {
    width: auto;
  }
}
@media (max-width: 767px) {
  .action {
    flex-direction: column-reverse;
    .row {
      flex-wrap: wrap;
      margin-top: 0;
      margin-bottom: 15px;
      height: 120px;
      align-items: center;
      max-width: 220px;
    }
  }
  .uploader {
    margin-bottom: 10px;
    width: 100%;
    >button {
      font-weight: 400!important;
      margin: 0!important;
      width: 100%;
      padding: 10px 12px!important;
    }
  }
  .action .row >button {
    padding: 10px 12px!important;
    margin: 0 0 10px!important;
    font-weight: 400!important;
    width: 100%!important;
    padding: 10px 12px!important;
  }

  .label {
    margin-left: -140px;
  }
}