.avatar {
  display: block;
  min-width: 120px;
  min-height: 120px;
  max-width: 120px;
  max-height: 120px;
  border-radius: 20px;
  object-fit: cover;
}

.form {
  display: flex;
}

.wrapper_mini {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.action {
  width: 420px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.action .row {
  margin-top: 15px;
  display: flex;
}

.uploader .label {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.uploader .input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
  cursor: pointer;
}

.label {
  font-size: 16px;
  line-height: 20px;
  color: #858BA1;
}

.colorRed {
  color: red;
}

/*# sourceMappingURL=styles.module.css.map */
