.check {
  color: white;
  width: 16px;
  height: 16px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(346deg) brightness(100%) contrast(100%);
  margin-top: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 15px;
  min-height: 75px;


  .title {
    display: flex;
    font-weight: 500;
    font-size: 28px;
    line-height: 30px;
    color: #15174D;
    justify-content: space-between;
  }

  .subtitle {
    font-size: 16px;
    line-height: 20px;
    color: #858BA1;
    margin-top: 10px;
  }

  &:after {
    content: "";
    width: 100%;
    background: rgba(27, 30, 98, 0.1);
    height: 1px;
    position: absolute;
    bottom: 0;
  }

  img {
    zoom: 110%
  }

}

.btns_wrapper {
  flex-shrink: 0;
  padding: 2rem 0 2rem;
  width: 100%;
  height: 80px;
}

.btns_container {
  display: flex;
  justify-content: space-between;
}

.btns_container_first {
  display: flex;
  justify-content: flex-end;
}

.body_wrapper {
  height: 540px;
}

.calendar_wrapper {
  height: 540px;

  .calendar {
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-bottom: 30px;

    %item {
      display: flex;
      justify-content: center;
      font-size: 1.75rem;
      padding: 1.25rem;
      background: rgba(65, 140, 252, 0.1);
      border-radius: 15px;
      color: #5465E7;
      opacity: 0.6;
      transition: 200ms;
      min-width: 10px;
      cursor: pointer;
    }

    .item {
      @extend %item;
    }

    .item_active {
      @extend %item;
      background: #5465E7;
      color: white;
    }

    .week_item {
      color: #BBBFCD;
      text-align: center;
    }
  }

  .column_begin {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .wrapper {
      position: relative;
    }

    .name {
      color: #5465E7;
      text-align: center;
      margin-bottom: 3px;
      font-weight: 500;
      font-size: 18px;
      line-height: 20px;
      opacity: 0.8;
    }

    .time {
      text-align: center;
      font-size: 12px;
      line-height: 15px;
      opacity: 0.6;
    }
  }

  .title {
    color: #15174D;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 40px;
    line-height: 1.4;

    img {
      margin-left: 10px;
    }
  }

  .subtitle {
    color: #15174D;
    font-size: 15px;
    font-weight: 500;
    margin-top: 65px;
    margin-bottom: 20px;
    line-height: 1.4;

    img {
      margin-right: 10px;
    }
  }

}

@media (max-width: 767px) {
  .container {
    .title {
      font-size: 22px;
      line-height: 30px;
    }
  }
  .body_wrapper {
    height: auto;
  }
  .btns_wrapper {
    height: auto;
    padding-bottom: 0;
  }
  .btns_container {
    flex-wrap: wrap;
    justify-content: center;

    .actionButton {
      height: 45px;
      margin-bottom: 15px;
    }
  }
  .calendar_wrapper {
    height: auto;
    margin-right: -20px;
    .calendar {
      grid-column-gap: 10px;
      grid-row-gap: 10px;
      max-width: 100%;
      overflow: auto;
      .item, .item_active {
        padding: 0.5rem 1.25rem;
        align-items: center;
      }
    }
    .title {
      margin-bottom: 30px;
    }
    .subtitle {
      margin-top: 30px;
    }
  }
  .column_begin {
    .wrapper {
      width: 70px;
    }
  }
}

@media (max-width: 568px) {

}