.wrapper {
  width: 100%;
}

.row, .rowSecondary {
  display: flex;
}



.freeMeet {
  display: inline-block;
  background: #62C440;
  border-radius: 10px;
  padding: 5px 10px;
  color: white;
  line-height: 1.3;
  font-size: 14px;
  margin-top: 15px;
}

.image {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  margin-right: 20px;
  object-fit: cover;
}

.info {
  .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #161835;
    display: flex;
    align-items: center;

    .tick {
      margin-left: 11px;
    }
  }

  .statItem {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    color: #1B1E62;
    margin-right: 23px;

    &:last-child {
      margin-right: 0;
    }

    .icon {
      margin-right: 7px;
    }
  }
}

.tags {
  margin-top: 27px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  * {
    margin-bottom: 7px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.big {
  .image {
    width: 90px;
    height: 90px;
    cursor: pointer;
  }

  .online {
    font-size: 14px;
    line-height: 20px;
    color: #858BA1;
    margin-bottom: 20px;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .name {
      cursor: pointer;
      font-size: 16px;
      line-height: 30px;
    }
  }
  .tags {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .image {
    max-width: 60px;
    max-height: 60px;
    margin-right: 15px;
  }
  .rowSecondary {
    flex-wrap: wrap;
    margin-top: 5px;
  }
  .info {
    width: 100%;
    .name {
      line-height: 24px;
    }
    .statItem {
      margin-bottom: 10px;
    }
  }
  .tags {
    margin-top: 15px;
  }
  .big {
    .tags {
      margin-top: 15px;
    }
  }
}