.wrapper {
  border-radius: 30px;
  // min-width: 330px;
  // max-width: 590px;
  width: 100%;
  height: 100%;
  position: relative;
  margin-right: 30px;
  overflow: hidden;
  z-index: 0;
  background: #FFFFFF;
}

.background {
  position: absolute;
  right: 0;
  // height: 100%;
  bottom: 5%;
  z-index: -1;
  width: 35%;
  min-height: 60%;
  max-height: 100%;
  object-position: right;
}

.container {
  height: 100%;
  z-index: 10;
  padding: 35px 30px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .title {
    margin-bottom: 17px;
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
    color: #27283A;
    border-radius: 100%;
  }
  .label {
    font-size: 16px;
    line-height: 20px;
    color: #858BA1;
    margin-bottom: 18px;
  }
}

@media (max-width: 992px) {
  .container {
    .title {
      font-size: 24px;
      line-height: 32px;
    }
  }
}

@media (max-width: 767px) {
  .wrapper {
    min-width: 260px;
  }
  .container {
    padding: 25px 20px;
    width: 100%;
    .title {
      font-size: 22px;
      line-height: 28px;
    }
    .label {
      width: 75%;
    }
    >div>a>button {
      width: 100%;
    }
  }
  .background {
    width: 46%;
    max-height: 100%;
  }
}