
.calendar-message {
  font-size: 16px;
  color: #858BA1;
  margin-bottom: 20px;
  margin-top: -15px;
}

.calendar {
  margin: 0 auto;
  width: 100%;
}

.calendar-item {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  line-height: 40px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}

.calendar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin-bottom: 20px;
}
.calendar-header .nav {
  background: #fff;
  border-radius: 100%;
  cursor: pointer;
  &:disabled {
    cursor: default;
  }
}
.calendar-header .name {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}
.calendar-header .left {
  transform: rotate(180deg);
}


.calendar-item-active {
  background: #5465E7;
  color: #FFF;
}

.calendar-item-disabled {
  background: #FAFAFC;
  color: #C2C5D0;
}

.calendar-item-default {
  background: #ECF3FF;
  color: #5465E7;
}

.calendar-item-status {
  position: absolute;
  right: 0;
  top: 0;
  width: 12px;
  height: 12px;
  border: solid 2px white;
  border-radius: 6px;
}

.calendar-item-status-active {
  background: #62C340;
}

.calendar-item-status-disabled {
  background: #BBBFCD;
}

.calendar-labels {
  display: flex;
  flex-direction: row;
  margin-bottom: 13px;
}

.calendar-labels > span {
  flex: 1;
  text-align: center;
  font-size: 10px;
  line-height: 10px;
  color: #BBBFCD;
}

.calendar-week {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}
.calendar-week > .calendar-day {
  flex: 1;
  display: flex;
  justify-content: center;
}

.calendar-week > .calendar-day.none {
  visibility: hidden;
}

@media (max-width: 767px) {
  .calendar-week {
    overflow: auto;
    padding-bottom: 10px;
  }
  .calendar-week > .calendar-day {
    margin-right: 5px;
  }
  .calendar-item {
    width: 38px;
    height: 38px;
  }
}