.wrapper {
  width: 100%;
}
.inputGroup {
  width: 100%;
  margin-top: 55px;
  margin-bottom: 46px;
  .trouble {
    display: block;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #858BA1;
  }
}

.links {
  margin: 30px 0;

  .item {
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    display: block;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.socLinks {
  margin: 30px 0 15px;
  padding: 0 30px;
  display: flex;
  width: 100%;
  justify-content: space-between;

  .link {
    font-size: 22px;
    color: #151850;
  }
}

.buttons {
  >a {
    margin-bottom: 15px;
    display: block;
  }
  .exit > button {
    color: #F3533D;
  }
}

.login {
  width: calc(100% - 60px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  padding-right: 10px;
  padding-left: 20px;

  .btn {
    width: 46px;
    height: 20px;
  }
  .item {
    margin-right: 40px;
  }
  .balance {
    cursor: pointer;
    background: #F6F7FE;
    border-radius: 12.5px;
    border-radius: 12.5px;
    min-width: 102px;
    max-width: 112px;
    padding: 0 5px;
    height: 40px;
    font-size: 15px;
    line-height: 20px;
    color: #858BA1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
  .notification {
    margin-right: 20px;
    position: relative;
    cursor: pointer;
    .circle {
      width: 12px;
      height: 12px;
      background: #F3533D;
      position: absolute;
      font-weight: 500;
      font-size: 9px;
      line-height: 12px;
      text-align: center;
      color: #fff;
      border-radius: 100%;
      top: -3px;
      right: -5px;
    }
  }
  .avatar {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
  }
}

@media (max-width: 767px) {
  .login {
    top: 10px;
    width: calc(100% - 40px);
  }
  .inputGroup {
    margin-top: 35px;
    margin-bottom: 20px;
  }
  .links {
    padding: 0 10px;
    margin: 25px 0;
    .item {
      text-align: center;
    }
  }
}