.wrapper {
  height: 325px;
  min-width: 360px;
  padding: 30px 0 25px;
  margin-right: 60px;
}

.desc {
  font-size: 16px;
  line-height: 20px;
  color: #858BA1;
  margin-top: 20px;
  margin-bottom: 25px;
}
.addition {
  @extend .desc;
  margin-top: 15px;
  text-align: center;
}

@media (max-width: 767px) {
  .wrapper {
    min-width: 260px;
    padding: 0;
    height: initial;
  }
  .desc {
    margin-bottom: 0;
  }
}