.wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo {
  width: 100%;
  max-height: 255px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}
.text {
  font-size: 21px;
  text-align: center;
  line-height: 30px;
  padding: 0 25px;
}