.wrapper {
  width: 100%;
  background-color: #fff;
  padding: 90px 120px 0;
}
.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  color: #27283A;
  margin-bottom: 60px;
}
.container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

@media (max-width: 1366px) {
  .wrapper {
    padding: 80px 60px 0;
  }
  .title {
    margin-bottom: 40px;
  }
  .container {
    flex-wrap: wrap;
  }
}
@media (max-width: 992px) {
  .wrapper {
    padding: 80px 40px 0;

    .title {
      font-size: 32px;
      line-height: 44px;
    }
  }
}
@media (max-width: 767px) {
  .wrapper {
    padding: 50px 10px 0;
  }
  .title {
    font-size: 28px;
    line-height: 40px;
  }
}