.wrapper {
  width: 100%;
  height: 640px;
  position: relative;
  z-index: 1;
  background: linear-gradient(0deg, #EBEFF7, #EBEFF7), #FFFFFF;
}
.background {
  display: block;
  position: absolute;
  z-index: -1;
  right: 0;
}
.userPhoto {
  display: block;
  position: absolute;
  right: 5%;
  top: 77px;
  width: 45%;
  max-width: 680px;
}
.container {
  width: 55%;
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  .title {
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #161835;
    margin-bottom: 18px;
  }
  .text {
    font-size: 18px;
    line-height: 26px;
    color: #858BA1;
    margin-bottom: 60px;
  }
  .btnGroup {
    display: flex;
    * {
      margin-right: 20px;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

@media (max-width: 1366px) {
  .wrapper {
    height: 500px;
  }
  .userPhoto {
    max-width: 360px;
  }
  .container {
    padding: 0 60px;
    width: 60%;

    .title {
      font-size: 44px;
      line-height: 54px;
    }
  }
}