.wrapper {
  width: 100%;
  padding: 60px 60px 120px;
  background: #F5F6FA;
  height: 100%;
  display: flex;
  overflow-y: auto;
}

.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 50px;
  color: #161835;
  margin-bottom: 39px;
}
.container {
  margin-right: 60px;
}

@media (max-width: 1366px) {
  .container {
    margin-right: 40px;
  }
}
@media (max-width: 992px) {
  .wrapper {
    padding: 30px 40px 30px;
    flex-wrap: wrap;
  }
  .title {
    font-size: 32px;
  }
  .container {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .wrapper {
    padding: 30px 10px;
  }
  .title {
    font-size: 22px;
    line-height: 40px;
    margin-bottom: 20px;
  }
}