.wrapper {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 9;
  background-color: #fff;
  width: 500px;
  border-radius: 20px;
  padding: 25px 40px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  .title {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #161835;
  }
  .cross {
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
}



