.wrapper {

}

.container {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 100%;
  top: 0;
  min-width: 420px;
  max-width: 420px;
  left: calc(100% - 420px);
  width: 420px;
  z-index: 10;
  background: #F5F6FA;
  overflow-y: auto;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    padding: 40px 0 0;
  }
  .btn {
    position: absolute;
    background: rgba(27, 30, 98, 0.1);
    border-radius: 15px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    padding: 10px;
    left: 30px;
  }
  .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #15174D;
  }
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 30px;
  max-height: 100%;
  min-height: 100%;
  overflow-y: hidden;
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(27, 30, 98, 0.05);
  }

}
.messages {
  width: 100%;
  overflow-y: auto;
  padding-right: 3px;
  flex: 1 1 100%;
}

.area {
  background: rgba(27, 30, 98, 0.05);
  border-radius: 17.5px;
  padding: 10px;
  width: 100%;
  margin: 30px 0;
  display: flex;
  justify-content:space-between;
  position: relative;
  .row {
    display: flex;
    width: 100%;
  }
  .textarea {
    display: block;
    resize: none;
    background: transparent;
    font-size: 16px;
    line-height: 20px;
    margin: 10px 15px 10px 10px;
    width: 100%;
  }
  //.addFile {
  //  position: absolute;
  //  display: block;
  //  top: 20px;
  //  left: 20px;
  //  width: 20px;
  //  height: 20px;
  //  cursor: pointer;
  //  .input {
  //    opacity: 0;
  //    visibility: hidden;
  //    position: absolute;
  //    width: 100%;
  //    cursor: pointer;
  //  }
  //}
  //.clip {
  //  margin: 10px 15px 10px 10px;
  //  display: block;
  //  width: 20px;
  //  height: 20px;
  //  cursor: pointer;
  //}
  .submit {
    justify-self: flex-end;
    background: #5465E7;
    border-radius: 15px;
    padding: 10px 15px;
    width: 50px;
    height: 40px;
  }
}

@media (max-width: 767px) {
  .container {
    min-width: initial;
    max-width: initial;
    width: 100%;
    left: auto;
  }
}
@media (max-width: 568px) {
  .container {
    .btn {
      left: 15px;
    }
    .title {
      margin-left: 30px;
    }
    .header {
      margin-bottom: 20px;
      padding: 20px 0 0;
    }
  }
  .column {
    padding: 0 15px;
  }
  .area {
    margin: 20px 0;
  }
}