.wrapper {
}

.title {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #161835;
}
.label {
  font-size: 16px;
  line-height: 20px;
  color: #858BA1;
  margin: 10px 0 20px;
}
.row {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
  button {
    flex: 0 0 48%;
  }
}
.message {
  margin: 30px auto;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: #858BA1;
  img {
    display: block;
    margin: 0 auto 18px;
  }
}
.container {
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(27, 30, 98, 0.05);
  }
}
.times {
  max-height: 250px;
  overflow-y: auto;
}
.workTime {
  padding-right: 3px;
  .item {
    background: #F5F6FA;
    border-radius: 15px;
    padding: 15px 20px;
    font-size: 16px;
    line-height: 20px;
    color: #858BA1;
    position: relative;
    margin-bottom: 15px;
    img {
      position: absolute;
      right: 20px;
      top: 15px;
      cursor: pointer;
    }
  }
}

.noMarginBottom {
  margin-bottom: 0;
}
.addTime {
  margin: 20px 0;
  display: flex;
  background: #F5F6FA;
  border-radius: 15px;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  .selectors {
    display: flex;
    justify-content: space-between;
    flex: 0 0 50%;
    align-items: center;
    .select {
      border: none;
      width: 100%;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #161835;
      background: transparent;
    }
    .separator {
      min-width: 54px;
      max-width: 54px;
      text-align: center;
      color: #BBBFCD;
    }
  }
  .save {
    font-size: 16px;
    line-height: 20px;
    color: #858BA1;
    cursor: pointer;
  }
}

.container {
  margin-top: 20px;
  .header {
    margin: 20px 0;
    display: flex;
    background: #F5F6FA;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    .time {
      display: flex;
      justify-content: space-between;
      flex: 0 0 25%;
      align-items: center;
      .selected {
        border: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #161835;
        background: transparent;
        width: 41px;
      }
      .separator {
        min-width: 54px;
        max-width: 54px;
        text-align: center;
        color: #BBBFCD;
      }
    }
    .save {
      font-size: 16px;
      line-height: 20px;
      color: #858BA1;
      cursor: pointer;
    }
  }
  .grid {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(78px, auto));
    grid-gap: 10px;
    margin-bottom: 21px;
    .item {
      cursor: pointer;
      background: rgba(27, 30, 98, 0.05);
      border-radius: 12.5px;
      text-align: center;
      padding: 10px 0;
      width: 78.3px;
      font-size: 16px;
      line-height: 20px;
      color: #858BA1;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
    .active {
      background: #5465E7;
      color: #fff;
    }
  }
}