.container {
  z-index: 1;
  margin-right: 5%;
  max-width: 100%;
  &:first-child {
    width: 45%;
  }
  &:last-child {
    width: 50%;
    margin-right: 0;
  }
}

@media (max-width: 1366px) {
	.container {
		margin-right: 0;
		margin-bottom: 30px;

		&:first-child,
		&:last-child {
			width: 100%;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}