.wrapper {
  background: #FFFFFF;
  box-shadow: 0 5px 50px rgba(25, 35, 75, 0.025);
  border-radius: 25px;
  overflow-y: hidden;
  padding: 30px;
  height: 100%;
}
.title {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #161835;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.meetings {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  max-height: calc(100% - 190px);
}
.message {
  margin: 60px auto;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: #858BA1;
  img {
    display: block;
    margin: 0 auto 18px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    padding: 30px 20px;
  }
  .row {
    flex-wrap: wrap;

    >a, >a>button {
      width: 100%;
    }
  }
  .title {
    text-align: center;
    margin-bottom: 20px;
  }
}