@import "./src/styles/vars";

.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 19px;

  .bubble {
    display:table-cell;
    padding: 15px 20px;
    border-radius: 20px;

    .link {
      display: block;
      border-left: solid 2px $primary;
      padding-left: 8px;
      margin-top: 10px;
      text-decoration: none;

      .header {
        display: flex;
        flex-display: row;

        .name {
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 14px;
          line-height: 20px;
          font-weight: 500;
        }
      }

      .source {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  time {
    font-size: 12px;
    line-height: 10px;
    margin-top: 11px;
    color: $onLight-muted;
  }

  &.from-me {
    align-items: flex-end;

    .bubble {
      background: $primary;
      color: $white;
      border-bottom-right-radius: 0;

      .link {
        border-color: $onDark-secondary;

        .name {
          color: $white;
        }

        .source {
          color: $onDark-secondary;
        }
      }
    }
  }

  &.not-from-me {
    align-items: flex-start;

    .bubble {
      border-bottom-left-radius: 0;
      background: $white;
      color: $onLight-secondary;

      .link {
        border-color: $onLight-muted;

        .name {
          color: $primary;
        }

        .source {
          color: $onLight-secondary;
        }
      }
    }
  }
}