.wrapper {
  height: 80px;
  padding: 0 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(84, 101, 230, 0.06);
  z-index: 10;
  position: relative;
}

.logo {
  height: 40px;
  display: flex;
  align-items: center;
  img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
  }
}

.menu {
  display: flex;
  margin: 0 auto;

  .item {
    margin-right: 27px;
    color: #161835;
    opacity: 0.5;

    &:last-child {
      margin-right: 0;
    }
  }
  .active {
    opacity: 1;
  }
}

.item {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #858BA1;
  cursor: pointer;
}

.paymentsWait {
  color: #006a00;
  font-size: 12px;
}

.login {
  width: 640px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .btn {
    width: 46px;
    height: 20px;
  }
  .item {
    margin-right: 40px;
  }
  .balance {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 12.5px;
    min-width: 200px;
    max-width: 145px;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
    color: #858BA1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 24px;
  }
  .notification {
    margin-right: 28px;
    position: relative;
    cursor: pointer;
    .circle {
      width: 12px;
      height: 12px;
      background: #F3533D;
      position: absolute;
      font-weight: 500;
      font-size: 9px;
      line-height: 12px;
      text-align: center;
      color: #fff;
      border-radius: 100%;
      top: -3px;
      right: -5px;
    }
  }
  .avatar {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
  }
}

.menuBtn {
  display: none;
}
.menuBtn > button {
  position: relative;
  width: 40px;
  height: 40px;

  &:before, &:after {
    content: '';
    width: 14px;
    height: 2px;
    background-color: #5465E7;
    border-radius: 2px;
    position: absolute;
    transition: ease .3s;
    right: 11px;
  }

  &:before {
    top: 12px;
  }
  &:after {
    bottom: 10px;
  }

  span {
    display: block;
    width: 18px;
    height: 2px;
    background-color: #5465E7;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
  }

  &:hover {
    &:before, &:after {
      width: 18px;
      transition: ease .3s;
    }
  }
}

@media (max-width: 992px) {
  .wrapper {
    padding: 0 40px;
  }
  .menuBtn {
    display: inline-block;
  }
  .login {
    display: none;
    .balance {
      display: none;
    }
  }
}
@media (max-width: 767px) {
  .menu {
    display: none;
  }
  .wrapper {
    height: 70px;
    padding: 0 10px;
  }
}