.table {
  width: 100%;
  max-height: 100px;
  overflow-y: auto;
  padding: 0 15px;
  thead {
    font-size: 18px;
    line-height: 25px;
    color: #161835;

  }
  tbody {
    font-size: 16px;
    line-height: 25px;
    color: #858BA1;
  }
  th {
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(27, 30, 98, 0.05);
  }
  th, td {
    height: 33px;
    font-weight: 500;
    border-right: 1px solid rgba(27, 30, 98, 0.05);
    text-align: center;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 3px;
    &:last-child {
      border-right: none;
      padding-right: 0;
    }
    &:first-child {
      text-align: left;
    }
  }
  td {
    font-weight: normal;
  }
}

@media (max-width: 767px) {
  .table {
    padding: 0;
    thead {
      font-size: 16px;
    }
  }
}