.wrapper {
  background: #FFFFFF;
  border-radius: 15px;
  width: 120px;
  min-width: 120px;
  height: 140px;
  padding: 25px 0;
  margin-right: 20px;
  display: block;
  .title {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #161835;
    margin-top: 15px;
    padding: 0 18px;
  }
  .icon {
    padding: 0 36px;
  }

  &:last-child {
    margin-right: 0;
    .title {
      padding: 0 20px;
    }
  }
}
.blue {
  background: #F5F6FA;
}


