.wrapper {
  width: calc(100% + 15px);
  height: 100vh;
  overflow: hidden;
  position: relative;
  max-width: 100%;
}
.big {
  animation: expand 0.5s;
  animation-fill-mode: forwards;
}
.small {
  animation: shrink 0.5s;
  animation-fill-mode: forwards;
}

@keyframes shrink {
  0% {
    width: calc(100% + 15px);
  }
  100% {
    width: calc(100% - 405px);
  }
}

@keyframes expand {
  0% {
    width: calc(100% - 405px);
  }
  100% {
    width: calc(100% + 15px);
  }
}

.toolBar {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  .btnGroup {
    width: 320px;
    display: flex;
    justify-content: space-between;
    .img {
      position: relative;
      img {
        width: 100%;
        height: 100%;
      }
      .line {
        display: block;
        width: 22px;
        height: 22px;
        opacity: 0.72;
        position: absolute;
        top: calc(50% - 11px);
        right: calc(50% - 11px);
      }
    }

  }
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  color: #FFFFFF;
  height: 80px;
  padding: 30px 0 0;
  display: flex;
  justify-content: space-between;

  .left {
    margin-left: 30px;
    .label {
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 1px;
    }
    .from {
      color: rgba(255, 255, 255, 0.7);
      font-size: 16px;
      line-height: 20px;
    }
  }
  .right {
    display: flex;
    .time {
      font-size: 16px;
      line-height: 20px;
      border-radius: 15px;
      padding: 15px 25px;
      margin-right: 30px;
    }
    .danger {
      background: #F3533D;
    }
    .default {
      background: rgba(65, 140, 252, 0.1);
    }

    .btn {
      background: rgba(27, 30, 98, 0.1);
      border-radius: 15px;
      padding: 10px;
      margin-right: 30px;
      position: relative;
      .bell {
        color: #F3533D;
        font-size: 14px;
        right: 3px;
        top: -2px;
        position: absolute;
      }
    }
  }
}

@media (max-width: 767px) {
  .header {
    .left {
      margin-left: 15px;
    }
    .right {
      .time {
        padding: 15px 20px;
      }
    }
  }
}