.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 0;
  height: 80px;
  .name {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #161835;
    margin-bottom: 1px;
  }
  .duration {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #858BA1;
  }
  .time {
    font-size: 16px;
    line-height: 20px;
    background: #F3533D;
    border-radius: 15px;
    padding: 15px 25px;
    color: #FFFFFF;
  }
}
.container {
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .box {
    margin: auto;
    width: 622px;
    text-align: center;
    .title {
      font-weight: 500;
      font-size: 40px;
      line-height: 50px;
      color: #161835;
      margin-bottom: 18px;
    }
    .label {
      font-size: 18px;
      line-height: 30px;
      color: #858BA1;
      margin-bottom: 24px;
    }
    .btnGroup {
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: 767px) {
  .header {
    height: auto;
    flex-wrap: wrap;
    padding: 20px 10px 0;

    .time {
      padding: 10px 20px;
      margin-top: 10px;
    }
  }
  .container {
    padding: 30px 10px;
    height: auto;
    .box {
      .title {
        font-size: 30px;
        line-height: 40px;
      }   
      .label {
        font-size: 16px;
        line-height: 28px;
      }   
      .btnGroup {
        flex-wrap: wrap;

        >button {
          margin: 0 20px 20px 20px !important;
        }
      }
    }
  }
}