.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100% - 86px);
}
.free {
  display: inline-block;
  background: #62C440;
  border-radius: 10px;
  padding: 5px 10px;
  color: white;
  margin-bottom: 15px;
  line-height: 1.3;
}

