.wrapper {
  width: 100%;
  padding: 35px 60px 60px;
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 80px);
  background-color: rgba(84, 101, 230, 0.05);
}

.wrapperOnBoardClient {
  width: 100%;
  padding: 35px 60px 60px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(84, 101, 230, 0.05);
}

.wrapperOnBoard {
  width: 100%;
  padding: 35px 60px 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  background-color: rgba(84, 101, 230, 0.05);
}

.background {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

@media (max-width: 1366px) {
  .wrapper, 
  .wrapperOnBoardClient {
    flex-wrap: wrap;
    height: initial;
    padding: 35px 60px 0;
  }
}
@media (max-width: 992px) {
  .wrapper, 
  .wrapperOnBoardClient {
    padding: 35px 40px 0;
  }
}
@media (max-width: 767px) {
  .wrapper, 
  .wrapperOnBoardClient {
    padding: 30px 10px;
  }
}