.switchWrap {
  position: relative;
  display: flex;
  align-items: center;
  .checkbox {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  .label { // полоска
    display: flex;
    background: rgba(27, 30, 98, 0.1); // цвет неактивной полоски
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 50px;
    height: 30px;
    border-radius: 100px;
    position: relative;
    transition: background-color .2s;
  }
  .label .switchBtn { // кружок
    content: '';
    position: absolute;
    left: 2px;
    width: 26px;
    height: 26px;
    border-radius: 45px;
    transition: 0.2s;
    background: #FFFFFF; // цвет неактивного кружка
  }
  .checkbox:checked + .label .switchBtn {
    left: 100%;
    transform: translateX(calc(-100%  - 2px));
    background: #FFFFFF; // цвет активного кружка
  }
  .checkbox:checked + .label {
    background: #5465E7; // цвет активной полоски
  }
  .label:active .switchBtn {
    width: 30px;
  }
}