.wrapper {
  width: 100%;
}
.checkBox {
  margin-top: 20px;
  font-size: 16px;
  line-height: 19px;
  color: #858BA1;
  display: flex;
  align-items: center;
  &__text {
    margin-left: 12px;
    font-size: 16px;
    line-height: 19px;
    color: #858BA1;
  }
}
.label {
  margin-top: 35px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #858BA1;
}
.box {
  background: #fff;
  position: absolute;
  z-index: 999;
  top: 60px;
  right: 10px;
  left: 10px;
  display: inline-block;
  max-height: 150px;
  overflow-y: auto;
  .item {
    font-size: 18px;
    line-height: 20px;
    padding: 5px 10px;
    color: #161835;
    opacity: 0.6;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}