.wrapper {
  width: 100%;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  max-height: 100%;

  &.stretch {
    align-items: stretch;
  }
  &.start {
    align-items: start;

    .container {
      border-radius: 0px 0px 0px 32px;

      .title {
        padding-bottom: 0;
      }
    }
  }
}
.noDark {
  position: absolute;
  z-index: 0;
}

@keyframes slideFromRight {
  from {
    margin-right: -480px;
  }
  to {
    margin-right: 0;
  }
}

@keyframes slideToRight {
  from {
    margin-right: 0;
  }
  to {
    margin-right: -480px;
  }
}

.container {
  overflow-y: auto;
  min-width: 440px;
  max-width: 440px;
  background-color: #fff;
  padding: 33px 30px;
  max-height: 100%;
  .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #15174D;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 26px;
    margin-bottom: 30px;
    img {
      display: block;
      cursor: pointer;
    }
    &:after {
      content: "";
      width: 100%;
      height: 1px;
      background: rgba(27, 30, 98, 0.05);
      position: absolute;
      bottom: 0;
    }
  }
  .noContent {
    justify-content: flex-end;
    &:after {
      height: 0;
    }
  }
}
.big {
  max-width: 580px;
  min-width: 580px;
}
.medium {
  max-width: 530px;
  min-width: 530px;
}
.extrasmall {
  max-width: 340px;
  min-width: 340px;
}

.animationOpen {
  animation: slideFromRight 0.3s;
}

.animationClose {
  animation: slideToRight 0.3s;
}

@media (max-width: 767px) {
  .container {
    min-width: initial;
    padding: 20px 10px;
    width: 100%;
    .title {
      margin-bottom: 20px;
      padding-bottom: 20px;
    }
  }
  .extrasmall {
    min-width: 265px;
    max-width: 265px;
  }
}