.wrapper {
  width: 100%;
  background-color: #fff;
}

.header {
  padding: 90px 120px 0;
  justify-content: space-between;
  display: flex;

  .text {
    margin-bottom: 40px;
    margin-right: 70px;

    .title {
      margin-bottom: 8px;
      font-weight: 500;
      font-size: 40px;
      line-height: 50px;
      color: #27283A;
    }

    .subTitle {
      font-size: 18px;
      line-height: 30px;
      color: #858BA1;
    }

  }

  .btnWrapper {
    display: flex;
    justify-content: center;

    .container {
      border: 1px solid #5465E7;
      border-radius: 10px;
      //width: 20%;
    }

    .showAll {
      text-align: center;
      //margin-top: 15px;
      //margin-left: 0;
      //margin-bottom: 8px;
      cursor: pointer;
      font-size: 18px;
      line-height: 25px;
      color: #5465E7;
      //padding: 1rem 120px;
      float: right;
    }
  }
}

.showMore {
  cursor: pointer;
  font-size: 18px;
  line-height: 25px;
  color: #5465E7;
  padding: 0 120px;
}

.container {
  display: flex;
  overflow: hidden;
  padding: 0 60px;
  width: 100%;
  align-items: center;

  .arrow {
    display: block;
    font-size: 32px;
    cursor: pointer;
    color: #858BA1;
    border-radius: 100%;
  }

  .right {
    padding-left: 30px;
  }

  .left {
    padding-right: 30px;
  }
}

//@media (min-width: 1366px) {
//  .showAll {
//    margin-left: 150px !important;
//  }
//}

@media (max-width: 1366px) {
  .header {
    padding: 80px 60px 0;
  }
  .container {
    padding: 0 0 0 0;

    .arrow {
      position: absolute;
      z-index: 44;
    }

    .left {
      left: 30px;
    }

    .right {
      right: 30px;
    }
    //.showAll {
    //  margin-left: 0;
    //}
  }
}

@media (max-width: 992px) {
  .header {
    padding: 80px 40px 0;

    .text {
      margin-right: 30px;

      .title {
        font-size: 32px;
        line-height: 44px;
      }
    }
  }
  .container {
    .arrow {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .header {
    padding: 50px 10px 0;
    flex-wrap: wrap;
    margin-bottom: 20px;

    .text {
      margin-right: 0;
      margin-bottom: 0;

      .title {
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 0;
      }
    }
  }
}