.wrapper {
  width: 100%;
}

.container {
  display: flex;
  padding-bottom: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.desc {
  max-width: 210px;
  margin-right: 40px;
}
.desc .title {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #15174D;
  margin-bottom: 6px;
}

.desc_on_board, .desc_mini {
  max-width: 100%;
  margin-right: 40px;
}
.desc_on_board .title, .desc_mini .title {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #15174D;
  margin-bottom: 6px;
}

.desc_on_board {
  margin-bottom: 10px;
  min-height: 60px;
}

.label {
  font-size: 16px;
  line-height: 20px;
  color: #858BA1;
}

/*# sourceMappingURL=styles.module.css.map */
