.wrapper {
  width: 100%;
}

.container {
  display: flex;
  padding-bottom: 40px;
}

.container_mini {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.desc {
  max-width: 210px;
  min-width: 210px;
  margin-right: 40px;

  .title {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #15174D;
    margin-bottom: 6px;
  }
}

%desc_mini {
  max-width: 100%;
  margin-right: 40px;

  .title {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #15174D;
    margin-bottom: 6px;
  }
}


.desc_mini {
  @extend %desc_mini;
}

.desc_on_board {
  @extend %desc_mini;
  margin-bottom: 10px;
  min-height: 60px;
}

.label {
  font-size: 16px;
  line-height: 20px;
  color: #858BA1;
}

@media (max-width: 1366px) {
  .container {
    flex-wrap: wrap;
  }

  .desc {
    max-width: 100%;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .desc {
    margin-bottom: 20px;
  }
  .label {
    display: none;
  }
}