.wrapper {
  display: flex;
}

.avatar {
  margin-right: 20px;
  border-radius: 15px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.column {
  width: 100%;
  .name {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #161835;
    margin-bottom: 5px;
  }
  .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 16px;
    .rating {
      font-size: 16px;
      line-height: 20px;
      color: #161835;
      img {
        margin-right: 3px;
        &:last-child {
          margin-right: 0;
        }
      }
      span {
        margin-left: 7px;
      }
    }
    .date {
      font-size: 16px;
      line-height: 20px;
      text-align: right;
      color: #858BA1;
    }
  }
  .desc {
    font-size: 16px;
    line-height: 20px;
    color: #858BA1;
  }
  .showMore {
    cursor: pointer;
    font-size: 18px;
    line-height: 25px;
    color: #5465E7;
    margin-top: 15px;
  }

}




