.wrapper {

  width: 100%;

}
.label {
  font-size: 16px;
  line-height: 20px;
  color: #858BA1;
  margin-bottom: 15px;
}
.container {
  background: #fff;
  padding: 20px;
  border-radius: 15px;
  font-size: 16px;
  line-height: 22px;
}
.row {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  input {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    padding: 16px 20px;
    display: block;
    border: none;
    background: #F5F6FA;
    border-radius: 15px;
    margin: 0;
  }
  button {
    min-width: 48px;
    height: 48px;
    margin-left: 15px;
  }
}