.wrapper {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9;
  background: #F5F6FA;
  width: 500px;
  border-radius: 20px;
  padding: 25px 40px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(27, 30, 98, 0.05);
  }
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  .title {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #161835;
  }
  .cross {
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
}

.messages {
  width: 100%;
  overflow-y: auto;
  padding-right: 3px;
  max-height: 350px;
  min-height: 150px;
  margin-bottom: 15px;
}

.area {
  background: rgba(27, 30, 98, 0.05);
  border-radius: 17.5px;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content:space-between;
  position: relative;
  .row {
    display: flex;
    width: 100%;
    margin-bottom: 0;
  }
  .textarea {
    display: block;
    resize: none;
    background: transparent;

    font-size: 16px;
    line-height: 20px;
    margin: 10px 15px 10px 10px;
    width: 100%;

  }
  .addFile {
    position: absolute;
    display: block;
    top: 20px;
    left: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    .input {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      width: 100%;
      cursor: pointer;
    }
  }
  .clip {
    margin: 10px 15px 10px 10px;
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .submit {
    justify-self: flex-end;
    background: #5465E7;
    border-radius: 15px;
    padding: 10px 15px;
    width: 50px;
    height: 40px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    width: calc(100% - 40px);
    max-width: 500px;
    padding: 20px;
  }
}