.cookieWrapper {
    display: flex;
    flex-direction: row;
}

.cookieButton {
    display: flex;
    justify-content: center;
}

@media (max-width: 1366px) {
    .cookieWrapper {
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
    }

    .cookieContent {
        flex: none !important;
    }

    .cookieButton {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

