.wrapper {
  padding: 90px 0 0;

  .title {
    margin-bottom: 60px;
    font-weight: 500;
    font-size: 40px;
    line-height: 50px;
    color: #27283A;
    margin-right: 70px;
  }
}
.header {
  display: flex;
  padding: 0 120px;
}
.specialistHelperCard {
  width: calc(25% - 22.5px);
}
.reviewCard {
  width: 360px;
}
.specialistCard {
  width: 350px;
}




@media (max-width: 1600px) {
  .specialistHelperCard {
    width: calc(33% - 15px);
  }
}
@media (max-width: 1366px) {
  .specialistHelperCard {
    width: 330px;
  }
  .wrapper {
    padding: 80px 0 0;

    .title {
      margin-bottom: 40px;
    }
  }
  .header {
    padding: 0 60px;
  }
}
@media (max-width: 992px) {
  .header {
    padding: 0 40px;
  }
  .wrapper {
    .title {
      font-size: 32px;
      line-height: 44px;
    }
  }
}
@media (max-width: 767px) {
  .wrapper {
    padding: 50px 0 0;

    .title {
      margin-bottom: 0;
      font-size: 28px;
      line-height: 40px;
    }
  }
  .header {
    padding: 0 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .specialistCard {
    width: 260px;
  }
  .reviewCard {
    width: 260px;
  }
  .specialistHelperCard {
    width: 260px;
  }
}