.wrapper {
  background: #FFFFFF;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  margin-right: 20px;
  margin-top: 25px;
  &:last-child {
    margin-right: 0;
  }
  .row {
    display: flex;
    .column {
      margin-left: 20px;
      .value {
        font-size: 20px;
        line-height: 30px;
        color: #161835;
        font-weight: 500;
      }
      .label {
        min-width: 161px;
        font-size: 13px;
        line-height: 20px;
        color: #858BA1;
      }
    }
  }
}
.clickable {
  cursor: pointer;
}

@media (max-width: 767px) {
  .wrapper {
    margin-right: 0;
  }
}