.wrapper {
  background: #FFFFFF;
  border-radius: 20px;
  width: 100%;
  padding: 40px;
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  .name {
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    color: #15174D;
    img {
      width: 26px;
      height: 26px;
      margin-left: 17px;
      margin-top: 7px;
    }
  }
}

.label {
  font-size: 14px;
  line-height: 20px;
  color: #BBBFCD;
  margin-bottom: 15px;
}
//.social {
//  display: flex;
//  align-items: center;
//  margin-bottom: 10px;
//  a {
//    display: block;
//    margin-right: 15px;
//    width: 24px;
//    height: 24px;
//    &:last-child {
//      margin-right: 0;
//    }
//    img {
//      width: 100%;
//      height: 100%;
//    }
//  }
//}
.row {
  display: flex;
  padding-bottom: 24px;
  margin-bottom: 25px;
  position: relative;
  &:after {
    content: "";
    background: rgba(27, 30, 98, 0.05);
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .statItem {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    color: #1B1E62;
    margin-right: 23px;

    &:last-child {
      margin-right: 0;
    }

    .icon {
      margin-right: 7px;
    }
  }
}

.tags {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  * {
    margin-bottom: 4px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.text {
  @extend .label;
  position: relative;
  padding-bottom: 23px;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 25px;
  &:after {
    content: "";
    background: rgba(27, 30, 98, 0.05);
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.lang {
  margin: 6px 0 15px;
  padding-bottom: 18px;
  position: relative;
  font-size: 18px;
  line-height: 25px;
  &:after {
    content: "";
    background: rgba(27, 30, 98, 0.05);
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}


.freeMeet {
  display: inline-block;
  background: #62C440;
  border-radius: 10px;
  padding: 5px 10px;
  color: white;
  margin-bottom: 15px;
  line-height: 1.3;
  font-size: 14px;
}


.prices {
  margin-top: 18px;
  display: flex;
  width: 100%;
  .item {
    width: 25%;
    .price {
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      color: #161835;
      margin-bottom: 8px;
    }
    .free {
      span:nth-child(1) {
        text-decoration: line-through;
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        color: #161835;
        margin-bottom: 8px;
        opacity: 0.8;
      }
      span:nth-child(2) {
        text-decoration: none;
        font-size: 14px;
        margin-left: 5px;
      }
    }
  }
}

@media (max-width: 1366px) {
  .wrapper {
    padding: 40px 30px;
  }
}
@media (max-width: 992px) {
  .prices {
    .item {
      .price {
        font-size: 22px;
      }
    }
  }
}
@media (max-width: 767px) {
  .wrapper {
    padding: 30px 20px;
  }
  .text {
    font-size: 14px;
    line-height: 20px;
  }
  .lang {
    font-size: 16px;
  }
  .label {
    margin-bottom: 6px;
  }
  .prices {
    flex-wrap: wrap;
    .item {
      width: 50%;
      margin-bottom: 10px;
    }
  }
  .header {
    .name {
      font-size: 22px;
      line-height: 30px;
    }
  }
  .row {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}