@import "./src/styles/vars";

.input-group {
  position: relative;
  width: 100%;

  input {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    padding-top: 28px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    border: none;
    background: $light;
    border-radius: 15px;
    margin: 0;

    &:focus {
      outline: none;
    }

    &:focus ~ label,
    &:valid ~ label {
      top: 6px;
      font-size: 12px;
    }

    &:focus ~ .highlight {
      -webkit-animation: inputHighlighter 0.3s ease;
      -moz-animation: inputHighlighter 0.3s ease;
      animation: inputHighlighter 0.3s ease;
    }
  }

  label {
    color: $onLight-secondary;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    top: 20px;
    left: 20px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }

  &.error {
    input {
      padding-top: 27px;
      padding-bottom: 11px;
      padding-left: 19px;
      padding-right: 19px;
      border: solid 1px $danger;
    }

    label {
      color: $danger;
    }
  }

  @-webkit-keyframes inputHighlighter {
    from { background: $primary; }
    to 	{ width: 0; background: transparent; }
  }
  @-moz-keyframes inputHighlighter {
    from { background: $primary; }
    to 	{ width: 0; background: transparent; }
  }
  @keyframes inputHighlighter {
    from { background: $primary; }
    to 	{ width: 0; background: transparent; }
  }
}

.search-group {
  input {
    width: 100%;
    font-size: 18px;
    line-height: 20px;
    height: 60px;
    display: block;
    border: none;
    border-radius: 15px;
    margin: 0;
    padding-left: 60px;
    background: rgba(255, 255, 255, 0.6);

    &:hover {
      background: rgba(255, 255, 255, 0.8);
    }

    &:focus {
      outline: none;
      background: rgba(255, 255, 255, 1);
    }
  }

  img {
    position: absolute;
    width: 25px;
    height: 25px;
    margin-top: 18px;
    margin-left: 20px;
    pointer-events: none;
  }
}

.textarea {
  resize: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 15px;
  background: $light;
  display: block;
  overflow: auto;
  border: none;
  font-size: 18px;
  line-height: 25px;
  padding: 20px;
  margin: 0;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;

  &__text {
    padding-left: 10px;
  }


  &:hover .checkbox__check {
    background: rgba(255, 255, 255, 0.5);
  }

  .checkbox__input {
    width: 0;
    height: 0;
    opacity: 0;


    &:checked + .checkbox__check {
      stroke-dashoffset: 0;
      background: $primary;
    }
  }

  .checkbox__check {
    border: 1px solid #858BA1;
    background: $light;
    stroke: #f9f9f9;
    stroke-dasharray: 25;
    stroke-dashoffset: 25;
    stroke-linecap: round;
    stroke-width: 0.2rem;
    border-radius: 0.2rem;
    fill: none;
    transition: background 0.4s, stroke-dashoffset 0.25s;
  }
}

.segmentControl {
  display: flex;
  flex-direction: row;
  height: 50px;
  background: $light;
  border-radius: 16px;

  .wrap {
    width: 50%;
    flex: 1;
    padding: 2px;

    .nav {
      border: none;
      background: transparent;
      width: 100%;
      font-size: 16px;
      border-radius: 15px;
      padding: 13px 0;
      cursor: pointer;
      color: $onLight-secondary;

      &:hover {
        background: rgba(22,24,53,0.05);
      }

      &.active {
        background: $white;
        font-weight: 500;
        color: $dark;
        box-shadow: 0px 1px 4px 0px rgba(25,35,75,0.1);
      }
    }
  }
}

@media (max-width: 767px) {
  .search-group {
    input {
      font-size: 16px;
      height: 50px;
    }
    img {
      margin-top: 13px;
    }
  }

  .segmentControl {
    height: 100px;
    flex-wrap: wrap;

    .wrap {
      width: 100%;
      flex: initial;
    }
  }

  .textarea {
    min-height: 150px;
  }
}