.footer {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  justify-self: flex-end;
  width: 100%;
  height: 170px;
  display: flex;
  padding: 25px 60px;
  background: #F5F6FA;
  align-items: flex-end;
  .item {
    font-size: 14px;
    line-height: 20px;
    color: #858BA1;
    margin-right: 30px;
    // margin-top: 100px;
  }
}

@media (max-width: 767px) {
  .footer {
    padding: 20px 10px;
    flex-wrap: wrap;
    align-content: flex-end;
    .item {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}