%column {
  width: 100%;
}

.column {
  @extend %column;
}

.column_notify {
  @extend %column;
  min-height: 220px;
}

.column_on_board {
  @extend %column;
  min-height: 220px;
}

.column_prices_on_board {
  @extend %column;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
}

.wrapperOnBoard {
  display: flex;
  flex-direction: column;
}

.toogler_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .toogler_container {
    display: flex;
    justify-content: center;
    margin-left: 5px;
  }

  .label {
    margin-top: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #858BA1;
    //margin-left: 70px;
    margin-bottom: 10px;
  }

  .label_container {
    text-align: left;
    width: 150px;
  }
}

embed {
  width: 100%;
}

.objectFit {
  object-fit: cover;
  width: 100%;
}

.row {
  display: flex;
  align-items: center;

  &:first-child {
    margin-bottom: 30px;
  }
}

.top {
  align-items: flex-start;
  justify-content: center;

  .label {
    margin-top: 5px;
  }
}

.label {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #15174D;
  margin-left: 20px;
}

.desc {
  margin-top: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #858BA1;
  margin-left: 70px;
}

.docs {
  display: flex;
  flex-wrap: wrap;

  .doc {
    display: block;
    position: relative;
    width: 180px;
    height: 120px;
    border-radius: 15px;
    margin-right: 30px;
    overflow: hidden;
    margin-bottom: 25px;

    &:last-child {
      margin-right: 0;
    }

    img, embed {
      display: block;
      width: 180px;
      height: 120px;
      width: 100%;
    }

    .dark {
      background-color: rgba(22, 24, 53, 0.4);
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .cross {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 11px;
        width: 10px;
        height: 10px;
      }

      .label {
        text-align: center;
        margin: 0 auto;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        position: relative;

        .link {
          margin: 15px auto 0;
          padding: 5px 15px;
          font-size: 12px;
          line-height: 15px;
          font-weight: normal;
          display: block;
          cursor: pointer;
          color: #FFFFFF;
          width: 90px;
          height: 25px;
          background: rgba(255, 255, 255, 0.4);
          border-radius: 7.5px;
        }

        .icon {
          margin: 0 auto 6px;
          display: block;
          width: 16px;
          height: 16px;
        }
      }

      .delete {
        z-index: 10;
        position: absolute;
        font-weight: 400;
        margin-top: 5px;
        color: #F3533D;
        opacity: 0.95;
        width: 100%;
        text-align: center;
        bottom: 20px;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

.text {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #858BA1;
}

.uploader {
  .label {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .input {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
    cursor: pointer;
  }
}

.title {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #15174D;
  margin-bottom: 6px;
}

@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: auto;
  }
}