.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100vh;
  z-index: 999;
  background: rgba(0, 0, 0, 0.1);
}
.container {
  margin: auto;
  z-index: 10;
}

.circle {
  z-index: 10;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  margin: -25px 0 0 -25px;
  border: 4px rgba(0, 0, 0, 0) solid;
  border-top: 4px #5465E7 solid;
  border-radius: 50%;
  -webkit-animation: spin2 1s infinite linear;
  animation: spin2 1s infinite linear;
}

.mini {
  display: block;
  .circle {
    @extend .circle;
    position: static;
    margin: 0 auto;
  }
}

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}