//.wrapper {
//  display: flex;
//  width: 100%;
//  background-color: #fff;
//  //padding: 90px 120px 0;
//}
//
//.row {
//  display: flex;
//  justify-content: space-between;
//  width: 100%;
//}
//
//.title {
//  margin-right: 70px;
//  font-weight: 500;
//  font-size: 40px;
//  line-height: 50px;
//  color: #27283A;
//  margin-bottom: 40px;
//  min-width: 375px;
//}

.container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  overflow: auto;
  margin-right: -120px;
  padding-bottom: 15px;
}

.showAllWrapper {
  margin-top: 10px;
  display: flex;
  border: 2px solid #ebeff7;
  background: #ebeff7;
  height: 50px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;

  .showAll {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    padding: 0.75rem;
    //margin-top: 25px;
    cursor: pointer;
    float: left;

    .snowAllTitle {
      text-align: center;
      color: #27283a;
      font-weight: 500;
    }

  }

}

.hideAdaptive {
  display: none !important;
}

.showOriginal {
  display: flex !important;
}

.header {
  padding: 90px 120px 0;
  justify-content: space-between;
  display: flex;

  .categoryWrapper {
    display: flex;
  }

  .text {
    margin-bottom: 40px;
    margin-right: 70px;

    .title {
      margin-bottom: 8px;
      font-weight: 500;
      font-size: 40px;
      line-height: 50px;
      color: #27283A;
    }

    .subTitle {
      font-size: 18px;
      line-height: 30px;
      color: #858BA1;
    }

  }
}

@media (max-width: 1365px) {
  .hideAdaptive {
    display: flex !important;
  }

  .showOriginal {
    display: none !important;
  }
}

//.specialistCard {
//  width: 350px;
//}

//@media (max-width: 1366px) {
//  .wrapper {
//    padding: 80px 60px 0;
//  }
//  .container {
//    margin-right: -60px;
//  }
//}
//
//@media (max-width: 1023px) {
//  .showAllWrapper {
//    display: none;
//  }
//}
//
//@media (max-width: 992px) {
//  .wrapper {
//    padding: 80px 40px 0;
//  }
//  .container {
//    margin-right: -40px;
//  }
//}
//
//@media (max-width: 767px) {
//  .wrapper {
//    padding: 40px 10px 0;
//  }
//  .title {
//    font-size: 28px;
//    line-height: 40px;
//    margin-bottom: 30px;
//  }
//  .container {
//    margin-right: -10px;
//    margin-left: -10px;
//    padding-left: 10px;
//  }
//  .specialistCard {
//    width: 260px;
//  }
//
//}
