.background {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.time {
  font-size: 16px;
  line-height: 20px;
  color: #858BA1;
  margin-bottom: 54px;
}
.title {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #161835;
  margin-bottom: 22px;
}
.text {
  font-size: 18px;
  zoom: 75%;
  line-height: 25px;
  color: #161835;
  margin-bottom: 50px;
}

.greetings_wrapper {
  //padding: 30px;
  background: #FFFFFF;
  box-shadow: 0 5px 50px rgba(25, 35, 75, 0.025);
  border-radius: 25px;
  overflow-y: hidden;
  padding: 30px;
  margin-bottom: 50px;

  .container {
    background: #FFFFFF;
    border-radius: 25px;
    overflow-y: hidden;
    display: flex;
  }

  .settingsButton {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #858BA1;
    margin-bottom: 22px;
  }
  .settingsButton:hover {
    color: #777a83;
  }

}

.avatar {
  display: block;
  min-width: 150px;
  min-height: 150px;
  max-width: 150px;
  max-height: 150px;
  border-radius: 20px;
  object-fit: cover;
  margin-right: 20px;
}

@media (max-width: 767px) {
  .title {
    font-size: 22px;
    line-height: 30px;
  }
  .time {
    margin-bottom: 30px;
  }
  .text {
    font-size: 16px;
    margin-bottom: 30px;
  }
  .greetings_wrapper {
    .container {
      flex-wrap: wrap;
      border-radius: 0;
      box-shadow: none;
    }
  }
  .avatar {
    min-width: 100px;
    min-height: 100px;
    margin-bottom: 20px;
    width: 100px;
  }
}